[2017-06-01 02:39] erikbor opened #1 "Add pipe()"

[2017-06-01 02:39] erikbor opened #2 "Add popen()"

[2017-06-01 02:39] erikbor opened #3 "Add fork()"

[2017-06-01 02:39] erikbor opened #4 "Add malloc()"

[2017-06-01 02:39] erikbor opened #5 "Add free()"

[2017-06-01 02:40] erikbor opened #6 "Add write()"

[2017-06-01 02:40] erikbor opened #7 "Add read()"

[2017-06-01 02:40] erikbor opened #8 "Add accept()"

[2017-06-01 02:40] ronaldtse opened #9 "Make Coverity Scan work"
As title.

Link: http://scan.coverity.com/projects/riboseinc-retrace

[2017-06-01 02:40] erikbor opened #10 "Add exec* family"

[2017-06-01 02:40] erikbor opened #11 "Add *printf family"

[2017-06-01 02:41] erikbor opened #12 "Add detailed info to connect(), e.g.: display the character arrays and structs in C-style"

[2017-06-01 02:41] erikbor opened #13 "Get retrace to work with 'ssh' and 'scp'"

[2017-06-01 02:41] erikbor opened #14 "Add test(s) to ensure correct functionality"

[2017-06-01 02:42] ronaldtse opened #15 "Setup testing framework using CMocka"
CMocka can be installed via EPEL.

Or compiled according to this file:
https://github.com/riboseinc/rnp/blob/master/ci/install.sh

[2017-06-01 02:42] ronaldtse opened #16 "Setup Travis CI"
According to this file:
https://github.com/riboseinc/rnp/blob/master/.travis.yml

[2017-06-01 02:42] erikbor opened #17 "Review and optimise trace_printf() and trace_printf_str()"
If possible: consolidate the two

[2017-06-01 02:43] erikbor opened #18 "Add a 'redirection' option to connect()."
An example: when there's a connect() to '192.168.1.1:80' it should redirect to '10.1.1.1:8080' instead. This target should be defined in a file. Come up with a clever and efficient way to set this target, e.g.: a text file containing: connect,192.168.1.1:80,10.1.1.1:8080

[2017-06-01 02:43] ronaldtse opened #19 "Add roadmap"
We need a product roadmap for `retrace`.

[2017-06-01 02:44] erikbor opened #20 "Add redirection functionality to recvfrom()"
This one is a bit tricky because we want to transmit ascii files based on a condition set by sendto(). As an example:
  1) a connect() is made to '192.168.1.1:80', which is then redirected to '10.1.1.1:8080'
  2) sendto() will receive one or two requests, e.g.:
     a) GET /
     b) GET /status
  3) recvfrom() should in case of 'sendto() a' send '/tmp/recvfrom-index.txt' and in case of 'sendto() b

[2017-06-01 02:44] erikbor opened #21 "Add UID redirection to getuid() and geteuid()"
Make get*uid() return a uid_t as defined in a text file. E.g.:
getuid(),1000
geteuid(),0

[2017-06-01 03:01] erikbor opened #22 "Add scanf, fscanf, sscanf, vscanf, vsscanf, vfscanf"

[2017-06-01 05:09] ronaldtse opened #23 "Use clang-format to enforce code conventions"
Doing the same as riboseinc/rnp#148.

[2017-06-01 05:21] erikbor opened #24 "Add copyright header to all C files"
As title.

[code]

[2017-06-02 02:08] #14 closed

[2017-06-05 01:35] #1 closed

[2017-06-05 01:35] #2 closed

[2017-06-05 01:35] #3 closed

[2017-06-05 01:35] #4 closed

[2017-06-05 01:35] #6 closed

[2017-06-05 01:35] #7 closed

[2017-06-05 01:38] efiop commented on #16
https://github.com/riboseinc/retrace/pull/26

[2017-06-05 01:38] #16 closed

[2017-06-05 01:39] efiop commented on #15
Closed by https://github.com/riboseinc/retrace/pull/26

[2017-06-05 01:39] #15 closed

[2017-06-05 01:39] efiop commented on #5
Closed by https://github.com/riboseinc/retrace/pull/26

[2017-06-05 01:39] #5 closed

[2017-06-05 01:59] efiop opened #28 "CI coding style check"
As it was previously discussed, we should use BSD coding style[1]. To enforce that, it would be nice to have travis check it automatically.

[1] https://www.freebsd.org/cgi/man.cgi?query=style&sektion=9

[2017-06-05 02:16] #23 closed

[2017-06-05 02:45] erikbor opened #31 "Add MacOS compatibility dyld"

[2017-06-05 03:00] ronaldtse commented on #28
We've now added clang-format in a git pre-commit hook script, so if Travis can check if the code is correctly formatted it would be great. Thanks @efiop !

[2017-06-05 08:20] erikbor opened #33 "turn spaces indentation to tabs in .clang-format"

[2017-06-05 08:23] ronaldtse commented on #33
@erikbor we've tried using tabs in riboseinc/rnp but it's been too difficult to coordinate. GitHub also doesn't display tabs consistently. Only spaces we've found to be consistent across platforms/editors.

[2017-06-05 08:34] erikbor commented on #33
Spaces are not used for indentation in *BSD nor Linux (Linux kernel coding style). I don't think that GitHub's inability to properly display tabs consistently should affect our usage.
I understand the tab/spaces discussion cannot be easily resolved, but maybe we can poll the use with the people who contribute to retrace to see what preference they have and use that to decide what type of indentati

[2017-06-05 09:37] efiop commented on #33
I agree with @erikbor. Even though github sometimes screw ups tabs in pull-requests, merged code stills looks good. Using tabs is common for majority of C projects and it is part of both Linux Kernel Coding Style and BSD Coding Style. A bunch of hooks, travis and verbose output about code style should be plenty to enforce tabs without hiccups. We can also add a note about tab/indentation size(8 ch

[2017-06-05 09:39] ronaldtse commented on #33
Alright, I was tempted to say that not everyone here is a kernel hacker, but I might be wrong here 👍

Feel free to update it.

[2017-06-06 00:53] riataman commented on #31
Just made a bit of progress on this. Got this to building dylib and replace getuid using DYLD_INTERPOSE and injecting it using DYLD_INSERT_LIBRARIES.

Well see if I have time later today to actually integrate it into the whole thing. At least I got the POC going.

[2017-06-06 01:14] erikbor commented on #31
Sweet, nice one!

[2017-06-06 05:12] maheitsec commented on #24
Added copyright header to all C files.

[2017-06-06 05:18] ronaldtse commented on #24
Closed by #35.

[2017-06-06 05:18] #24 closed

[2017-06-06 05:28] erikbor opened #36 "control g_enable_tracing with an environment variable + set the retrace config file with an environment variable"
E.g. for tracing only:

[code]

E.g. for redirection only:
[code]

Would the environment variable be a good approach or would using a (static) config file be better?

[2017-06-06 06:24] erikbor commented on #33
As discussed, we change space indentation to tab indentation. Solved by aee6ca6b6cba201d3420006b5d205371b341e5a1

[2017-06-06 06:24] #33 closed

[2017-06-06 07:18] maheitsec commented on #8
Added accept function in sock.c and sock.h

[2017-06-06 07:20] erikbor commented on #8
Great, thanks!

[2017-06-06 07:20] #8 closed

[2017-06-06 07:29] maheitsec commented on #10
Hello

I'd like to confirm exec* family functions.
execl
execv
execle
execve
execlp
execvp
Is that all?

[2017-06-06 07:34] erikbor commented on #10
execve() is already implemented so you can skip that one. Please implement the others and use a similar approach of displaying argv[] (where applicable) as we have done in execve().

cheers!

[2017-06-06 14:26] wizzard commented on #36
Environment variable for the configuration file would be great for tests (so we could use the custom test configuration file).

[2017-06-06 14:36] erikbor opened #40 "enable/disable per-function tracing in the config file"

[2017-06-06 14:39] erikbor commented on #40
It would be nice to disable tracing to avoid noise. I have used the procmon utility in windows that is kind of similiar and their log can be HUUGE (in the order of hundreds of MB for a single short run of a program), it rapidly becomes a PITA to manage so much data even with tools such as grep.

[2017-06-06 16:13] maheitsec commented on #10
int execl(const char *path, const char *arg0, ... /*, (char *)0 */);
I can get all parameters using va_list, but I can the real function using va_list as parameters.
So I'm going to make the char *argv[] and call execv function.
int execv(const char *path, char *const argv[]);
What do you think?

[2017-06-07 01:15] erikbor commented on #10
Yes good approach.
execl and execv both replace the calling process image with a new process image.

Thanks!

[2017-06-07 01:16] erikbor opened #41 "Add ptrace()"

[2017-06-07 07:31] erikbor opened #44 "Make '[SNIP]' length configurable in the config file and have an environment variable override"

[2017-06-07 07:47] maheitsec commented on #10
Hello, Following functions were implemented.
execl, execv, execle, execve, execlp, execvp
I'm going to test these before merging to master.
Could you please let me know how to test these and test case exactly?

[2017-06-07 07:52] erikbor commented on #10
We use Cmocka for testing purposes: [Cmocka](https://cmocka.org/)
Please have a look at the existing test:
[code]
You can integrate your tests in there. For testing exec* I think we can use '/usr/bin/id' because that would also be a good test case for the getuid() redirection.

[2017-06-07 17:40] drystone opened #47 "Cache real function pointers to avoid repeated calls to dlsym"

[2017-06-08 02:48] erikbor opened #49 "Add strmode() for macOS"

[2017-06-08 13:50] drystone commented on #44
@erikbor , I've just done some work on trace_printf_str and a configurable length should be easy once the configuration api is ready. The only change will be to use the heap or alloca to get a working buffer.

[2017-06-08 17:57] maheitsec commented on #10
Hello
I implemented 6 functions(execl, execv, execle, execve, execlp, execvp), but now I'm seeing new functions:
execvpe, fexecve, execveat
Should I implement them, too?

[2017-06-08 23:32] riataman commented on #41
You mean tracing of the ptrace() function, or try to setup the tracing using ptrace?

[2017-06-09 01:37] erikbor commented on #41
For now the tracing of ptrace().

I would definitely appreciate tracing using ptrace in the future. But first I'd like to have the existing issues squashed so we have a fully functional retrace using a shared object.

[2017-06-09 04:11] erikbor commented on #44
Great!

[2017-06-09 05:13] erikbor opened #62 "create a RPM spec file for retrace"
Reference: https://github.com/riboseinc/rpm-specs/blob/master/json-c12/json-c12.spec

[2017-06-09 08:28] efiop commented on #22
Sorry, didn't notice @maheitsec 's post in ribose.

[2017-06-09 14:13] erikbor commented on #10
Implemented. Thanks!

[2017-06-09 14:13] #10 closed

[2017-06-09 14:16] erikbor opened #64 "Add fdopendir(), readdir_r(), telldir(), seekdir(), rewinddir(), dirfd()"

[2017-06-09 14:30] erikbor opened #65 "add gettimeofday() and select()"

[2017-06-09 14:35] erikbor opened #66 "add mkfifo(), stat(), umask()"

[2017-06-09 14:37] erikbor opened #67 "add uname()"

[2017-06-09 14:41] erikbor opened #68 "create man page for Linux (RHEL, CentOS, Fedora) and macOS"

[2017-06-09 16:08] erikbor opened #70 "Change the BSD license header"
We have reused one of our other project its BSD license header which is a fork from NetBSD code. It therefor contains the NetBSD foundation's name which does not apply to retrace!

Please change all the BSD license headers in every .c file to this license:
[code]

[2017-06-09 16:50] jjr840430 commented on #64
@erikbor I added functions, can you please review?

[2017-06-09 18:48] jjr840430 commented on #67
Will implement it in branch issue_66

[2017-06-09 19:22] jjr840430 commented on #65
Will work in branch issue_66

[2017-06-09 20:14] jjr840430 commented on #64
@erikbor Sorry, I merged this branch int master, it's my fault.

[2017-06-09 20:21] jjr840430 commented on #66
This issue was implemented in issue_66 branch

[2017-06-09 20:36] jjr840430 commented on #62
This issue will be implemented in rpm_spec branch

[2017-06-09 22:02] jjr840430 commented on #62
I updated first version of RPM spec file

[2017-06-09 23:26] erikbor commented on #62
Hi Jin, can you please use the pull requests to add features, see: [discussion](https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/discussion/discussions/17800)

Thanks

[2017-06-09 23:27] erikbor commented on #65
Please use the pull requests to add features, see: [discussion](https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/discussion/discussions/17800). Thanks!

[2017-06-10 00:45] #11 closed

[2017-06-10 01:33] drystone commented on #20
I'll have a go at this. Just to clarify. If connect() is called with the 192 address, the ip is replaced with the 10... address. Then sendto() is essentially making http requests and instead of a response from 10... recvfrom() gets the contents of a file (for very specific urls)?

[2017-06-10 01:52] #31 closed

[2017-06-10 01:52] #21 closed

[2017-06-10 01:52] #18 closed

[2017-06-10 02:47] erikbor commented on #20
Yes exactly, if there the "GET /urlx" is present in the config file then it needs to show the contents as set in the config file.

[2017-06-10 06:50] erikbor opened #79 "make macOS building + testing work"
1. There are some build problems on macOS now
2. Implement test cases for macOS
3. Please include osx in .travis.yml: [link](https://docs.travis-ci.com/user/multi-os/)

[2017-06-10 16:06] riataman commented on #20
I have been thinking a bit about this one, I think this needs to look like this:

1) There's already code to redirect one address to another, that is done using the config file and one (or more) lines like this:

connect,127.0.0.1,8080,192.168.1.110,9090

This was the easy case!

2) To effectively implement recv redirection we would need a config file like this:

connect,127.0.0.1:80,"GET /",/home

[2017-06-10 20:24] #79 closed

[2017-06-10 21:14] jjr840430 commented on #12
@erikbor Can you please review https://github.com/riboseinc/retrace/blob/issue_20/sock.c?

[2017-06-10 21:57] riataman commented on #70
This seems to be done.

[2017-06-10 21:57] #70 closed

[2017-06-10 21:59] jjr840430 commented on #20
@ronaldtse @erikbor @drystone @riataman
Can you please review it and let me know your opinions?

I think we should make more flexible redirecting solution.

To do it, we can make plug-in structure to customize each application protocols.
For example, we can make following structure.(It's just example)

// plug-in context structure declaration

typedef struct retrace_sock_plugin_ctx
{
        int (

[2017-06-10 22:09] riataman commented on #20
Well, I was thinking towards something like this at the beginning, even allowing the plugins to be written in lua/python or something like this.

Then started thinking a bit more and there's no much benefit to it. There are a few uses cases that I can think of:

1) You want to redirect the connection from one IP to another. This is the easy case and is already implemented.
2) You want to fake 100%

[2017-06-10 22:13] riataman commented on #49
@erikbor I'm missing something or the chmod modes between Linux (already implemented) and macOS are the same?

Or was this about doing the mode_t to string conversion that you already put in and we need to close this one?

[2017-06-10 22:36] jjr840430 commented on #20
@riataman Thanks for your reviews.

You are right. If we are going to fake HTTP traffics, then it's very hard to implement it.
This example is just ensure that we should use flexible and extensible plug-in structure to hook system calls.

Also if we need to build HTTP hooking solution, then we may use libraries for reassembling HTTP traffics.

For example, I think we can use this library.
http://l

[2017-06-10 22:50] riataman commented on #20
LibNIDS gives TCP stream reassembly from raw packages. Its useful when you only have access to raw packages, like when using PCAP to capture packages.

In retrace we already have the tcp stream assembled at the package level, we just need to keep track of the buffers as read/writes can come up in any size, not necessary in a whole buffer read.

Think of a client sending the string "test";

It can

[2017-06-10 23:08] jjr840430 commented on #20
You are right. Libnids is for raw packets. I confused something.

Then, I think we may think about following solution.
- hooking sendto system call(client => server)
A HTTP request may divided into several socket buffers. So we should keep buffers until a HTTP request is completed to be sent. At this case, we don't need to send fake buffers to server.
We can determine sendto buffer has '/GET' or '

[2017-06-11 00:49] #41 closed

[2017-06-11 00:57] erikbor commented on #49
strmode() only exists on macOS and it would be great to be able to trace it with retrace too.

The trace_mode() function is used for displaying permissions in chmod() tracing (and possibly others in the future). Because of the lack of strmode() on Linux I implemented trace_mode() to avoid having to include the full BSD strmode() in retrace.

[2017-06-11 01:05] erikbor opened #83 "implement OpenSSL tracing"
As per Pablo's suggestion:

1. dump keys and secrets
2. dump the traffic before encryption and after decryption

[2017-06-11 19:12] jjr840430 commented on #12
@erikbor
I have implemented redirection of recv/send functions.
Please review this branch.

https://github.com/riboseinc/retrace/tree/issue_20

[2017-06-11 19:21] drystone commented on #20
@jjr840430 as I'd assigned this to myself (see top of page) and notified my intent to work on this issue via [ribose](https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/discussion/discussions/17798/messages/24568), I'm a little surprised to see you've been working on it too!

[2017-06-11 19:34] jjr840430 commented on #20
@drystone, Sorry if my working on this surprised you.
But I didn't complete this part, I just wanted to ensure that plugin structure may help you to solve this problem.
So I made just example plugin for HTTP socket functions.

[2017-06-12 09:35] #47 closed

[2017-06-12 14:20] efiop opened #88 "Coding style RFC"
Need to go through existing code and make sure it follow BSD coding style where possible.

[2017-06-12 14:31] efiop opened #89 "Use CFLAGS to help detect bad coding style habits"
I.e. -std=c90 will help with '//' comments, mixed declaration and code and so on. These are the things that are stated in both BSD and Linux coding styles.

[2017-06-12 14:57] riataman opened #90 "Make firefox work under retrace"
Currently it will just hang before showing anything. Just picked up Firefox at random as an example of a very big program.

The other one I was using to test is gnumeric (or apparently any GTK+ app). That one just goes into a loop and core dumps.

[2017-06-13 02:38] riataman commented on #90
This one is tricky. If found out that if I disable our getenv implementation firefox works fine (with a few extra fixes that I have).

For some reason dlsym calls "calloc" when run under firefox, which in turn calls (our implementation of) getenv and so we get into a deadlock.

[2017-06-13 09:53] jjr840430 commented on #83
@riataman,

Are you going to trace all OpenSSL API functions?
OpenSSL has libcrypto and libssl libraries.

If you agreed, then can I work on tracing of libcrypto library?

[2017-06-13 19:21] riataman commented on #83
Sure go ahead, I did the most important ones already: https://github.com/riboseinc/retrace/pull/92

[2017-06-13 19:25] jjr840430 commented on #83
Great, Wonderful!
So can I work on tracing of libcrypto library?

[2017-06-13 19:25] riataman commented on #83
Yeah, go ahead

[2017-06-13 19:28] jjr840430 commented on #83
Also, I have developed plugin for redirection.
Can you review https://github.com/riboseinc/retrace/tree/issue_20 and let me know your opinions?

[2017-06-13 20:16] drystone commented on #90
@riataman - there was a bug in getenv if the environment variable didn't exist. I've just submitted a fix. How are you retacing firefox - when I try I get no output ... ?

[2017-06-13 20:47] drystone commented on #20
@jjr840430 yes, I was hoping to. I've got a bit involved in bugfixing existing code the last couple of days!

[2017-06-13 21:18] riataman commented on #90
yeah, the no output is the issue. I run it in gdb:

gdb /usr/bin/firefox
set env LD_PRELOAD = ./retrace.so
run
^C
where

You'll see its deadlocked in a stack that roughly looks like this:

dlsym()->calloc()->(our implementation of) getenv()->dlsym()->deadlock

(if /usr/bin/firefox is a script in your distro replace it for /usr/bin/firefox-esr)

For some reason Firefox calls to dlsym calls "calloc"

[2017-06-13 21:18] efiop commented on #88
#96

[2017-06-13 21:18] #88 closed

[2017-06-13 21:18] efiop commented on #89
Fixed by #96

[2017-06-13 21:18] #89 closed

[2017-06-13 21:19] efiop commented on #28
Added checkpatch.pl as a temporary measure in #96

[2017-06-13 23:42] drystone commented on #90
I guess at some point it's going to be worth having a good look at the dlsym implementation. The env bug probably wasn't the problem here. Is it deadlock or infinite loop? Deadlock doesn't seem likely as we don't hold any locks. Infinite loop doesn't seem likely as the stack would surely exhaust almost immediately. Something else?

[2017-06-13 23:49] riataman commented on #90
It's deadlocked on internal dlsym locks. If those locks weren't there we would fall into an infinite loop. I have been pinging you in skype btw.

[2017-06-13 23:55] riataman commented on #90
and yeah, the infinite loops aren't infinite, they core dump eventually :).

[2017-06-14 02:11] erikbor opened #99 "automake build system"

[2017-06-14 06:51] erikbor opened #100 "Add support for: openwrt, dd-wrt, raspberry, arduino"
Please also include some documentation regarding these platforms

[2017-06-14 06:55] erikbor opened #101 "Add support for OpenBSD"
OpenBSD has some unique features such as pledge() so please make sure that retrace supports pledge()

[2017-06-14 06:55] erikbor opened #102 "Add support for NetBSD"

[2017-06-14 08:55] erikbor opened #104 "Add configuration: 'spawn_inherits_retrace' and 'exec_inherits_retrace'"
Review how exec*() handles exits and tracing. Add a configuration switch to enable this behaviour.

[2017-06-14 09:46] erikbor opened #105 "Add configuration"
As per Pablo's suggestion:

Add config to change the dump format. I'm thinking along the lines of:

print only the hex dump
print only ascii
print hexdump + ascii
print everything only as utf8 (useful for web stuff ...).
save the dumps to a separate file (or files, we could create different files based on connection/file).

[2017-06-14 09:57] erikbor opened #106 "Build a global configuration struct"
Prevent rtr_get_config_single() opening the config time every time redirection is used

[2017-06-15 02:01] riataman commented on #100
I tested this in the raspberry pi quite a while ago and it worked pretty well. Haven't tested it lately. Arduino probably doesn't make any sense.

[2017-06-15 05:55] #66 closed

[2017-06-15 05:56] #67 closed

[2017-06-15 05:57] #65 closed

[2017-06-15 05:57] #64 closed

[2017-06-16 21:54] #49 closed

[2017-06-16 21:55] #101 closed

[2017-06-18 13:25] efiop commented on #9
Hi @ronaldtse ! I see that retrace is registered in coverity, but I can't access it. You probably should make it public in settings or something.

[2017-06-18 18:48] efiop opened #118 "Update Developers Guide.md"

[2017-06-19 19:34] maheitsec commented on #22
Hello @erikbor
I finished this issue.

[2017-06-20 10:23] maheitsec commented on #68
Hello @erikbor
I'm going to man pages for Linux. As you know there are following sections in every man pages.
NAME, SYNOPSIS, DESCRIPTION, OPTIONS, BUGS, AUTHOR, SEE ALSO
Could you please provide me the content of them?

[2017-06-20 14:56] ronaldtse opened #125 "Extend retrace to support syscall fuzzing"
Suggestion from @catap of https://github.com/riboseinc/rnp.

We can replace syscalls such as `open`/`malloc`/`calloc`/etc. The replacement returns a error in small percent of calls 😄 , something like 0.5%.

For example, malloc/callco/realloc returns a pointer to new memory when it can, and `NULL` when it can't. When you use librnp over CLI it will works fine, but when you're using it as part as se

[2017-06-20 14:57] riataman commented on #125
This seems like a useful feature!

[2017-06-20 14:59] ronaldtse commented on #125
@riataman You are so fast, man! I think @catap is interested in this too -- could you work with him together on this?

[2017-06-20 20:45] #90 closed

[2017-06-20 21:33] riataman opened #130 "strncmp parameters aren't necesary zero terminated"
We should only read (print) up until n

[2017-06-20 21:37] riataman commented on #125
I implemented malloc/calloc/realloc fuzzying in pull request #128

echo "memoryfuzzing,0.05" > retrace.conf
export RETRACE_CONFIG=$(pwd)/retrace.conf
LD_PRELOAD=./retrace.so test/malloc

This makes malloc/realloc/calloc fail randomly approximately 5% of the time. This can be adjusted by editing retrace.conf. 0 means  always fail, 1 means never fail. 0.5 is fail 50% of the time.

[2017-06-20 22:58] ronaldtse commented on #90
This is a significant milestone -- thank you @riataman !

[2017-06-20 23:16] riataman commented on #90
Yeah, I discovered that ltrace doesn't work with firefox :)

[2017-06-21 02:41] ronaldtse commented on #125
Thanks @riataman ! Maybe we should also target other useful syscalls for fuzzing too. What do you think?

[2017-06-25 23:34] #99 closed

[2017-06-26 07:49] jjr840430 opened #140 "tracing for mmap, munmap, brk, sbrk functions"
From Kirill (@catap) ....
I think that retrace has missed few syscalls related to "memory managment":
* `mmap`
* `munmap`
* `brk`
* `sbrk`

`mmap` use directly from https://github.com/riboseinc/rnp for example, and `sbrk` has used by `malloc` because it is common way how allocator can alloc a new memory — sbrk to extend data segment or `mmap` anonymous file.

[2017-06-26 18:11] catap commented on #140
@jjr840430 but it should support `memoryfuzzing` also ;)

And please keep in mind that `memoryfuzzing` should be only for `mmap(MAP_ANONYMOUS)` or `mmap(MAP_ANON)`, and you should setup a correct `errno` because it has historically succeeded for `EINVAL`.

Also, `brk` and `sbrk` return `-1` and should setup `ENOMEM` as `errno` value.

[2017-06-26 18:21] catap opened #141 "Trasing and implementing iofuzzing"
Hey,

I think it's also good extend retrace and something likes`memoryfuzzing` but for file IO. Let's say `iofuzzing`.

For rnp we should support:
* `mmap` (where flags isn't `MAP_ANONYMOUS` or `MAP_ANON` in this case it is memoryfuzzing)
* `munmap`
* `open`
* `close`
* `dup`
* `read`
* `write`
* `stat`
* `fdopen`
* `fopen`
* `fclose`
* `fseek`

Usefult but optional for rnp:
* `msync`
* `mprotect`

[2017-06-26 20:22] catap opened #142 "Doesn't support OS X 10.12?"
Hey,

I just tried the last master version (413fdbc25ac280459b424330235816587e548ed4) and it doesn't work on my macOS 10.12.5.

[code]

I've tried to changed config to:
[code]

and nothing changes.

@ronaldtse or someone can confirm that it isn't expected behaviour?

[2017-06-26 20:24] riataman commented on #142
@catap: Unfortunately macOS strips the relevant environment variables needed to inject retrace for system binaries.

If you copy /usr/bin/id to your home dir and run it from there, then it works.

[2017-06-26 20:29] catap commented on #142
@riataman, yay! thanks!

[2017-06-26 21:14] riataman commented on #142
I guess we can keep this one open with the goal of properly document this limitation.

[2017-06-26 22:15] catap commented on #142
and you're absolutely right. It removed all `DYLD_` and `LD_LIBRARY_PATH` variables for restricted process when SIP is enabled.

[2017-06-26 22:20] catap commented on #142
LOL

[code]

[2017-06-26 22:57] riataman commented on #142
All of this so you won't stole those itunes songs :)

[2017-06-26 23:11] catap commented on #142
@riataman but I can run `csrutil disable` and disable it :)

[2017-06-27 05:36] jjr840430 commented on #140
Thanks, @catap Will do so.

[2017-06-27 06:26] erikbor commented on #130
Pablo, can you please leave this in so we can trace what the input was? This is useful if we want to find out what the source was.

[2017-06-27 06:47] erikbor commented on #22
Great thanks!

[2017-06-27 06:47] #22 closed

[2017-06-27 06:52] erikbor opened #144 "Add fgetpos, fseeko, fsetpos, ftell, ftello, rewind, feof"
Please add some verbosity for 'long offset' and 'off_t offset'. Maybe print the offset in hex too (similar to trace_dump_data()?)

If it doesn't create a lot of overhead then it would also be useful to maybe use trace_dump_data() to show the first 16 bytes so we know exactly where in the file we are in. If this creates too much of an overhead then please skip it.

[2017-06-27 06:59] erikbor opened #145 "Add atoi(), atoi_l(), atof(), atol(), strtod(), strtol(), strtoul(), xlocale()"
I copied the above straight from the macOS man page so on Linux there might be some functions not present. Please take that into account, thanks.

[2017-06-27 07:30] erikbor opened #146 "tracing execle() fails"
Use this as a test:

[code]

And it results in this:
[code]

[2017-06-27 07:33] erikbor opened #147 "Create tests for exec*"
Currently we have an issue with execle() which results in a hanging retrace, see: [issue.](https://github.com/riboseinc/retrace/issues/146)

Please create some sane test cases for exec*, I suppose the best test case is to run 'env' to catch the environment variables we set in envp.

[2017-06-27 07:35] erikbor commented on #145
Also include the relevant tests. Thanks.

[2017-06-27 07:36] erikbor commented on #144
Also include the relevant tests. Thanks.

[2017-06-27 07:37] erikbor opened #148 "Add gethostname(), sethostname()"
And please add tests too thanks.

[2017-06-27 07:40] erikbor opened #149 "Add gethostbyname, gethostbyname2, gethostbyaddr, gethostent, sethostname, sethostent, endhostent, herror, hstrerror"
The above is copied straight from the macOS man page so maybe some functions are not available on Linux.

Please print the returning struct in a similar fashion as we do with envp in exec.c

And please add tests. Thanks.

[2017-06-27 08:34] erikbor commented on #148
duplicate of #149

[2017-06-27 08:34] #148 closed

[2017-06-27 12:45] riataman commented on #146
I noticed this too and have a test and fix in my structured_data branch.

[2017-06-27 17:19] ronaldtse opened #151 "Make a homebrew-retrace formula"
Just like https://github.com/riboseinc/homebrew-rnp , a formula to install retrace via:

[code]

[2017-06-28 01:07] erikbor commented on #146
Nice one Pablo. I'll assign this issue to you then. Thx.

[2017-06-28 02:45] riataman opened #152 "gcc crashes when run under retrace"
[code]

[2017-06-28 03:06] riataman commented on #152
@drystone:

This is crashing in the bfd (Binary File Descriptor Library) library when invoked by 'gas'. I downloaded binutils-2.28 source code and they have a functions named real_fopen real_fseek, etc, and we are making this crash.

The other option would be to mark our versions with __attribute__((visibility("hidden"))) to avoid exporting it. Not sure if that would work.

[2017-06-28 03:13] erikbor opened #153 "select.c has the NETBSD FOUNDATION header, please change to the Ribose one (e.g.: from popen.c)"

[2017-06-28 06:14] wizzard commented on #118
Updated with the basic build and run instructions.

[2017-06-28 06:17] wizzard commented on #9
Please add me as Maintainer to Coverity retrace project, I'll setup the project (please use my email)

[2017-06-28 06:18] ronaldtse commented on #9
Done @wizzard !

[2017-06-28 06:19] ronaldtse commented on #9
Sorry for the delay @efiop , missed your message 😉

[2017-06-28 08:10] jjr840430 commented on #149
@erikbor Those functions were already added in sock.c.

[2017-06-28 08:47] erikbor commented on #149
You are right! Sorry didn't see those in the branch I was working in. Closing this issue therefor.

[2017-06-28 08:47] #149 closed

[2017-06-28 09:07] drystone commented on #152
@riataman I think hiding would definitely work. All our internal functions ought to be hidden. It's not surprising we've stumbled upon name clashes!

[2017-06-28 16:12] catap opened #155 "The way to enable only retracing"
I'm on active using of `memoryfuzzing` and first example you can find [here](https://github.com/riboseinc/rnp/pull/255).

I run it over lldb/gdb and it produce a lot of `free`/`malloc`/etc calls.

I think that retrace should have a way to disable all verbose call way in case if any of fuzzing options is enabled, because right now it produce a lot of junk :(

[2017-06-28 16:15] riataman commented on #155
@catap as a work around I think adding this to the config file:

logtofile,/dev/null

should work.

[2017-06-28 16:22] ronaldtse commented on #155
@catap do you have a suggestion on "how" to disable the tracing without updating the config file?

[2017-06-28 16:24] ronaldtse opened #156 "Deterministic sys call / memory fuzzing"
Currently we can use retrace to discover bugs through memory fuzzing (such as riboseinc/rnp#255), but it would be really great if there is an option to fuzz with a given seed so it's deterministically reproducible.

This way projects can incorporate retrace in CI to ensure previous bugs do not reoccur.

cc @riataman @catap

[2017-06-28 16:26] riataman commented on #156
Yeah, this makes sense. We need to include our own random generator otherwise we risk the traced program also calling srand()/srandom() before/after we do.

[2017-06-28 16:37] ronaldtse opened #157 "Thread-safe output of tracing information"
With #143 in place we could potentially output multi-thread tracing information in an orderly fashion. Perhaps we need to use an extra "retrace thread" to achieve that through the tracing of thread libraries.

[2017-06-28 16:39] ronaldtse commented on #141
Maybe @riataman is interested?

[2017-06-28 16:41] ronaldtse opened #158 "Update Developers Guide to explain memory fuzzing"
As @catap 's riboseinc/rnp#255 demonstrates retrace is useful for bug discovery. We should provide an example on how to use retrace for memory fuzzing in the Developers Guide.

[2017-06-28 16:41] riataman commented on #141
Yes! I want to go back to useful feature once I merge this other huge change that I have :)

[2017-06-29 04:55] catap commented on #155
@riataman yes, it works, thanks!

@ronaldtse I'm thinking. Meanwhile the way with `logtofile,/dev/null` looks good.

[2017-06-29 06:45] jjr840430 commented on #155
@ronaldtse @riataman @catap
I think that the config logtofile,/dev/null looks good, but not flexible way.

How about this config?
memoryfuzzing,0.05,LOG_ALL or LOG_FUZZ

When specifying LOG_FUZZ, the only redirecting logs will be show.

[2017-06-29 08:21] jjr840430 commented on #156
@ronaldtse
Please review the following configuration.
memoryfuzzing,[fuzzing rate],[seed value]

[2017-06-29 08:37] catap commented on #156
@jjr840430 and I think we should add to log current seed value to easy reproduce the bug

[2017-06-29 08:41] jjr840430 commented on #156
@catap If we use fixed seed value, then is it need to get seed value from log file?

[2017-06-29 08:45] ronaldtse commented on #156
@jjr840430 the configuration line looks good. As @catap we should also print out the current seed in the trace log. While the seed is already in the config, it is clearer in the trace that it was using a deterministic random.

[2017-06-29 08:47] jjr840430 commented on #156
Right, I will do so

[2017-06-29 09:29] catap commented on #151
I can do it

[2017-06-29 21:01] riataman commented on #146
fixed

[2017-06-29 21:01] #146 closed

[2017-06-29 21:07] riataman opened #159 "Retrace is crashing in 32bit linux"
Works fine in 64bit Linux, crashes in 32 bit.

Found by @wizzard

[2017-06-29 23:52] riataman commented on #141
@catap, @ronaldtse: Check this one, I think there's fun to be have with it: https://github.com/riboseinc/retrace/pull/161

[2017-06-30 02:18] riataman commented on #159
Fix in https://github.com/riboseinc/retrace/commit/5895b30bd83d2a096e8369512bce693e097ac3d9

[2017-06-30 02:18] #159 closed

[2017-06-30 02:21] erikbor opened #162 "Implement getenv() fuzzing"
Three fuzz types:
1) Return a long string to trigger a buffer overflow, e.g.: 4096 A's (AAAAAAAAAAAAAAAAA...);
2) Return a bunch of format specifiers to test for format string vulnerabilities (quite rare nowadays in FOSS software but still present in loads of proprietary/binary executables), e.g.: %s%s%s%s%s%s%s%s%s%s%s%s
3) Return garbage (anything except a \0) of a variable length

Configuration

[2017-06-30 02:27] erikbor opened #163 "Add warning/notice on system() calls that use no absolute paths"
E.g.: system("id"); should show a warning that this is user controllable and thus exploitable in case when the system() call is made by a setuid executable.

E.g.: system("/bin/id"); should not show this warning.

Please take piping and several commands into account. E.g.: system("/bin/ps aux | grep foo"); and system("/bin/id; uname");

[2017-06-30 02:36] erikbor opened #165 "Add closelog, openlog, setlogmask, syslog, vsyslog tracing"

[2017-06-30 02:36] erikbor commented on #165
Also include the relevant tests. Thanks.

[2017-06-30 02:42] #153 closed

[2017-06-30 07:25] erikbor opened #168 "Add mktemp, mkstemp, mkdtemp, mkstemps, mkostemp, mkostemps"

[2017-06-30 10:06] catap opened #169 "Follow fork/exec"
Hey,

I've trying to trace something and just realise that `retrace` doesn't support `following-children` mode (likes `strace -f`).

`dtruss` and `strace` have a following mode that adds `<pid>` to output and trace also all subprocess that was created by `fork` or `exec*`.

I think it is expected features to tracing utils.

[2017-06-30 10:26] catap opened #170 "Can't build last build on macOS"
@riataman, looks like your commit https://github.com/riboseinc/retrace/commit/4a23dda3c4636f084c4e89038f8667514a492b25 crash building on macOS.

Since this commit I have:
[code]

[2017-06-30 10:56] catap commented on #170
I found and fixed one issue https://github.com/riboseinc/retrace/commit/22b8cde502690b16f727c6c82948cdb295e526d8

But it still doesn't enable `ssl.c` and `ssl.h` to build.

[2017-06-30 11:08] catap commented on #158
I think the right way is I should write this update and use rnp-expirence to explain how useful it is.

[2017-06-30 11:36] catap commented on #170
and it's fixed at #171

[2017-06-30 12:21] #170 closed

[2017-06-30 14:19] riataman commented on #169
I think this is the same as https://github.com/riboseinc/retrace/issues/104

[2017-06-30 14:20] catap commented on #169
yes, looks so

[2017-06-30 19:54] catap opened #173 "Missed fcntl"
Hey,

I think retrace has missed one of very useful (and very complicated to implementation) syscall — `fcntl`.

[2017-06-30 19:57] riataman commented on #141
Merged to paster. Put incompleteio in the config file.

[2017-06-30 23:56] riataman commented on #152
fixed

[2017-06-30 23:56] #152 closed

[2017-07-01 00:08] catap commented on #173
Based implementation here: https://github.com/riboseinc/retrace/commit/63e25e0528fb3f09e6e132bcc75a5638d7990a37

Missed: OS specifed stuff :)

[2017-07-01 00:59] riataman commented on #130
Fixed.

[2017-07-01 00:59] #130 closed

[2017-07-01 03:16] ronaldtse commented on #173
Indeed @catap and great start! I think we need to fix the formatting to adhere to the repo's rules though (`checkpatch.pl`).

@riataman , @drystone what do you think? Maybe

[2017-07-01 07:47] catap commented on #173
@ronaldtse it is a proof of concept and I doesn't like this design because it depends of supported commands and if we don't support one of command, the syscall doesn't work :(

[2017-07-01 07:48] catap opened #174 "Missed ioctl"

[2017-07-01 08:26] ronaldtse commented on #173
Got it. I'm sure @riataman , @drystone or @jjr840430 would have a good solution!

[2017-07-01 08:41] ronaldtse opened #175 "checkpatch now available on the Ribose yum repo"
I know our Travis CI builds use Ubuntu, but I've just made the checkpatch.pl script available on the [Ribose yum repo](https://github.com/riboseinc/yum).

[code]

[2017-07-01 09:13] drystone commented on #173
I think you could get away with `void * maybe_parameter = va_arg(ap void *)` for the default case just to pass the parameter (or not) through. You've already logged it as unsupported, so essentially you're making sure unsupported calls are still honoured.
[code]

[2017-07-01 09:14] catap commented on #173
@drystone good idea! Thanks!

[2017-07-01 13:45] catap commented on #175
Is it companility with https://github.com/torvalds/linux/blob/master/scripts/checkpatch.pl ?

[2017-07-01 13:48] catap commented on #173
Created https://github.com/riboseinc/retrace/pull/176.

Meanwhile it is a real-world example of using `retrace`.

I can trace valgrind on my macOS only by `retrace` for solve [this bug](https://bugs.kde.org/show_bug.cgi?id=381815), because `dtruss` doesn't inherits limits :)

[2017-07-02 06:40] jjr840430 opened #178 "optimizing logging"
Refer https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/discussion/discussions/17904

[2017-07-03 06:38] jjr840430 opened #179 "tracing character classification functions"
isalnum,  isalpha,  isascii,  isblank,  iscntrl,  isdigit,  isgraph,  islower,  isprint, ispunct, isspace, isupper, isxdigit, isalnum_l, isalpha_l, isascii_l, isblank_l, iscntrl_l, isdigit_l, isgraph_l, islower_l, isprint_l, ispunct_l, isspace_l, isupper_l, isxdigit_l

[2017-07-03 06:48] jjr840430 opened #180 "memcpy(), memmove(), bcopy(), memccpy() function"
@catap
What do you think about tracing memcpy() function?

[2017-07-03 07:34] erikbor opened #181 "segfault with fopen() redirect when target does not exist"
Tested on macOS:

[code]

[2017-07-03 08:00] erikbor commented on #162
@jjr840430 can you give this a try?

[2017-07-03 08:03] jjr840430 commented on #162
@erikbor Sure, I will implement it. Thanks.

[2017-07-03 08:03] erikbor commented on #162
@jjr840430  Nice one thanks.

[2017-07-03 08:55] catap commented on #180
Well.. It's nice to have :) Also if you're implement `memcpy`, you can also implement: `memmove`, `bcopy`,  and `memccpy`.

Plus I keep in mind that using `memcpy` when you should use `memmove` makes strange bug likes [this](https://bugzilla.redhat.com/show_bug.cgi?id=638477)

[2017-07-03 09:00] jjr840430 commented on #180
OK, Thanks for your advise.

[2017-07-03 22:37] riataman commented on #181
@erikbor This is working for me. Can I see your code for fopentest?

[2017-07-03 22:40] riataman commented on #181
This is how I tested it.

[code]

[2017-07-03 22:42] riataman commented on #105
There's disabledatadump,1 now to disable the dumps.

[2017-07-03 22:47] riataman commented on #165
Also setlogmask

[2017-07-04 02:19] erikbor commented on #181
This is the code:

[code]

[2017-07-04 02:26] riataman commented on #181
Well it's your code that is wrong you have to check the return value of fopen. It will return NULL if it fails (file doesn't exists)  and if you pass it to forget it will crash.

[2017-07-04 02:29] erikbor commented on #181
@riataman you are right, :/
thanks for spotting this

[2017-07-04 02:29] #181 closed

[2017-07-04 02:33] erikbor commented on #144
Add feof

[2017-07-04 02:56] riataman commented on #165
Fixed in https://github.com/riboseinc/retrace/commit/f3905eb3d14fad3d40c8b5e959cc09ae0dbb596b

[2017-07-04 02:56] #165 closed

[2017-07-04 06:11] jjr840430 opened #185 "fwrite() binary data printf error"
(5638) fwrite(0x559d93ce8f41, 1, 25, 0x559d9459c4b0 [fd 4], ) = 25
	0000000	 23                                                | #
	0000000	 20                                                |
	0000000	 45                                                | E
	0000000	 64                                                | d
	0000000	 69                                                | i
	0000000	 74

[2017-07-04 07:26] ronaldtse commented on #173
That's awesome @catap ! Thank you for being user 0 👍

[2017-07-04 08:33] #180 closed

[2017-07-04 09:14] jjr840430 opened #187 "./retrace shell script error"
dev@dev-virtual-machine:~/work/Retrace/GitWork/retrace$ ./retrace ./test/mytest
./retrace: 45: ./retrace: [[: not found
./retrace: 62: ./retrace: [[: not found

[2017-07-04 10:13] catap commented on #173
@ronaldtse but I'm blocking by #169 / #104 :(

@riataman or @drystone have you got any progress?

[2017-07-04 10:31] erikbor commented on #187
@jjr840430 what is the operating system you are testing on and to which package does your /bin/sh belong to?

[2017-07-04 10:47] jjr840430 commented on #187
I'm using Ubuntu16.04 64bit Desktop. Also the /bin/sh is symlinked into /bin/dash.

[2017-07-04 11:30] catap opened #189 "retrace performance impact"
When I run rnp tests without retrace it costs about 7 seconds:
[code]

Same test with retrace with config `logtofile,/dev/null` I interrupted after about 40 minutes.
[code]

[2017-07-04 12:14] catap commented on #189
I made small research:

 - https://github.com/riboseinc/retrace/commit/510c378cecd6533b2aa3029e33abbd680b9b0316 works about 35 seconds
 - https://github.com/riboseinc/retrace/commit/4a23dda3c4636f084c4e89038f8667514a492b25 works about 3.5 minutes

[2017-07-04 12:20] riataman commented on #189
Oh, that's may fault then ...

[2017-07-04 13:20] catap commented on #189
@riataman I've opened a pull request https://github.com/riboseinc/retrace/pull/190 that contains first performance fix.

Performance significant improved, from `I waited 40 minutes and interrupt` to `164.72 seconds`.

But I'm still thinking.

[2017-07-04 13:38] wizzard commented on #187
weird, I'll take a look.

[2017-07-04 13:48] #187 closed

[2017-07-04 13:58] catap commented on #189
Well.. Looks like I found a dead-lock inside retrace if it running with gperftools.

[2017-07-04 14:23] riataman commented on #189
Those are fun to track :)

[2017-07-04 14:24] catap commented on #189
@riataman but I will discribe the dead-lock later ;)

[2017-07-04 14:27] riataman commented on #189
Sorry closed by mistake.

[2017-07-04 14:52] riataman commented on #189
catap I don't think this was a performance fix per see, I don't think opening/closing a file should cause such a huge performance impact, I'm thinking there was a loop in there somewhere that was fixed by this.

Still a good fix :)

[2017-07-04 14:54] catap commented on #189
@riataman but since https://github.com/riboseinc/retrace/commit/4a23dda3c4636f084c4e89038f8667514a492b25 the code calls `trace_printf` huge numbers of times.

And each time the code open and close the file, and when it close the file, it makes also flush for this file ;)

[2017-07-04 15:09] riataman commented on #185
@jjr840430 That looks good to me. The fwrite call is requesting to print 25 buffers of size 1.

I guess we can special case the case where size = 1

[2017-07-04 15:13] jjr840430 commented on #185
Can you try ./retrace wget https://www.google.com?

[2017-07-04 15:16] riataman commented on #185
YeahI agree that is kind of ugly, I would special case the handling of PARAMETER_TYPE_MEM_BUFFER_ARRAY for when size = 1 not to print the buffers separately.

[2017-07-04 15:49] drystone commented on #173
@catap no, I haven't had a look. I'm surprised because my understanding of fork is that a child inherits the entire memory map of the parent as is. I know there is a problem with some of the execs because some copy the environment and some don't - so I suppose what you might be seeing is fork-exec pattern. I can look into this but it won't be until this time tomorrow.

[2017-07-04 15:50] catap commented on #173
@drystone no rush :) I can wait

[2017-07-04 15:55] riataman commented on #173
I took a good while a bit ago and fork does inherit LD_PRELOAD, but the exec stuff wasn't.

[2017-07-05 09:27] jjr840430 commented on #162
@erikbor pushed with #196

[2017-07-05 09:51] jjr840430 commented on #140
#

[2017-07-05 09:51] #140 closed

[2017-07-06 01:25] ronaldtse commented on #189
@riataman perhaps you can have a look to see how we can fix the performance impact of #143 ?

The tests done by @catap are very interesting because we can describe retrace's impact to executables in terms of multiples. Maybe we can even integrate these to CI tests (e.g., "not slower than 40x") and also describe in the `README`.

[2017-07-06 01:38] ronaldtse opened #198 "Deadlock running with gperftools"
Reported by @catap in #189 .

[2017-07-06 01:50] ronaldtse opened #199 "Interleaving output on multi-threaded programs"
In multi-threaded programs, retrace produces outputs per thread (at least on STDOUT) that is naturally, interleaving, and therefore very difficult to read.

Perhaps output of these should be controlled by a separate "retrace thread" using a provider-consumer model?

[2017-07-06 03:22] erikbor opened #200 "Build on OpenBSD 6.1 fails"
Install libtool, automake, autoconf, cmocka:

[code]
Now as a normal user:
[code]

[2017-07-06 04:23] erikbor commented on #200
Resolved 1 issue with pledge.c: [#201](https://github.com/riboseinc/retrace/pull/201)

[2017-07-06 06:48] jjr840430 commented on #185
@riataman It's very much lines for tracing fwrite() call.
I think it's convenient way to print the tracing result like as read/write call.

[2017-07-06 14:15] riataman commented on #199
I put a mutex so that we should be printing complete lines in multithread programs.

Also printed the thread id (in threads other than the main thread) so that the output could be grepped for a particular thread.

The other thing that I wanted to try is an option to write each thread/process to a different log file.

[2017-07-06 23:26] ronaldtse opened #205 "Enhancing the `test` library or adding scripts to `examples`"
Everyone seems to have their own little test utility for each function that is not in `test`, like these:

* https://github.com/riboseinc/retrace/pull/196#issuecomment-313281866
* https://github.com/riboseinc/retrace/pull/195#issuecomment-313404067

Maybe they should be incorporated into `tests` or put in a separate `examples` directory?

[2017-07-07 05:56] jjr840430 commented on #205
I think 'examples' directory is desired.

Everyone may create a directory, and add sources, README and the configuration file for each own tests.
For example, we may add practical examples such as rnp or valgrind leak testing there.
BTW, it doesn't need to be added into automake building.

I think current 'tests' directory is just for testing single operation of syscalls.

[2017-07-07 10:14] ronaldtse commented on #205
I agree we need an examples directory. However, since the test directory mainly focuses on single function call tests, maybe we can incorporate some of these more comprehensive ones, such as for getenv fuzzing, into an integration test suite so we test the full functionality (the features).

[2017-07-07 14:23] catap commented on #198
I think I fixed it: https://github.com/riboseinc/retrace/pull/207

[2017-07-07 14:25] catap opened #208 "Remove locking"
The basic idea how we can increase performance of retrace it is remove all locking from the code or made it as smaller time as we can — to open log file.

How we can do it? rewrite all `retrace_print*` function to write to static buffer and print the buffer to output at one `write` at end of `retrace_event`.

I expect that it decrease performance impact of retrace for application.

cc: @riataman @

[2017-07-07 15:21] catap commented on #208
After https://github.com/riboseinc/retrace/pull/207 will be merged it should be much easy :)

[2017-07-07 15:21] catap commented on #189
Found one more possibility to huge performance impact: https://github.com/riboseinc/retrace/issues/208

[2017-07-07 15:22] #198 closed

[2017-07-07 19:39] #185 closed

[2017-07-07 22:54] riataman commented on #163
This is actually going to be very hard to implement we would basically need to implement all forms of escaping done by whatever shell the user has.

[2017-07-07 22:56] riataman commented on #163
Taking myself out if somehow wants to give it a shoot :)

[2017-07-07 22:56] #17 closed

[2017-07-07 22:58] #106 closed

[2017-07-07 22:58] riataman commented on #173
We have fcntl  now.

[2017-07-07 22:58] #173 closed

[2017-07-07 23:01] catap commented on #173
@riataman just my few cents: on OS X all `DYLD_*` has removed at `exec` when SIP is enabled.

Source here: https://opensource.apple.com/source/dyld/dyld-421.2/src/dyld.cpp.auto.html

[2017-07-08 00:16] riataman opened #214 "All variadic functions are being logged twice"
All variadic functions that have a _v function call themselves twice the first time. We need to move the tracing code out of them.

[2017-07-08 14:27] ronaldtse opened #215 "Extract CMocka detection into m4 macro"
There is Cmocka detection code inside `configure.ac` but it should be extracted into a separate m4 file in `m4/ax_check_cmocka.m4`. See practice in riboseinc/rnp#265

[2017-07-08 15:40] catap opened #217 "Tracing of `execve` doesn't work on macOS"
@riataman, I'm trying to test https://github.com/riboseinc/retrace/pull/195 and I found when it doesn't work :)

Summary: I haven't see any `execve` track on https://github.com/riboseinc/retrace/commit/7f4c811749fa364cc81c6f16a9eca3cad614120a on macOS.

Test-case:
retrace config:
[code]

Example applications:
[code]

run retrace on this application:
[code]

[2017-07-08 16:07] riataman commented on #217
The problem is that if successful the exec() calls never return.

I have a branch where I print a line before calling the function and one after. That would solve this. https://github.com/riataman/retrace/tree/treeformat

The other option would be to introduce a EVENT_FLAGS_PRINT_ONBEFORE to force certain functions to print on the "before" event.

exit() has the same problem right now.

[2017-07-08 16:08] catap commented on #217
I think that the way with flag is better, isn't it?

[2017-07-08 16:11] riataman commented on #217
I like the idea of printing in and out calls and show the calls indented to clearly show which calls are made as a result of other calls.

Having say that, that probably should be an alternative view controlled by an option so we can actually implement both ways.

[2017-07-08 17:28] ronaldtse opened #218 "Executable wrapping with retrace"
Generating an executable that wraps the original executable to produce predictable behavior without needing to type `LD_PRELOAD` every time. For example, a re-skinned Firefox for normal users.

[2017-07-09 00:57] erikbor commented on #105
I'd be great if we also have a hex dump C shellcode style: '\x41\x42\x43\x44' etc for easy copy pasting.

[2017-07-09 01:43] ronaldtse commented on #105
One more vote for the "formatter" structure :-)

[2017-07-09 01:45] riataman commented on #200
Fixed here: https://github.com/riboseinc/retrace/commit/403760fa0c58b63e65323f89bbcadbab34ff6fac but to call this truly fixed we would have to run the CI in OpenBSD somehow.

[2017-07-09 22:58] #217 closed

[2017-07-10 05:31] erikbor commented on #162
@jjr840430 I have tested this extensively and it works like a charm! Thanks for implementing this.

[2017-07-10 05:31] #162 closed

[2017-07-10 08:44] catap opened #222 "Dynamic attaching to process"
Hey,

strace for example can dynamic attach to process and trace it. I think we can do same over `ptrace` and some magic :)

[2017-07-10 08:45] ronaldtse commented on #222
@catap we're all eager to see magic 👍

[2017-07-10 09:19] jjr840430 commented on #178
#221

[2017-07-10 09:19] #178 closed

[2017-07-11 02:01] erikbor commented on #200
Works good now. Thanks Pablo.

[2017-07-11 02:01] #200 closed

[2017-07-11 02:04] erikbor commented on #205
I just merged [#220](https://github.com/riboseinc/retrace/pull/220) which has an `examples` directory with a getenv-fuzzing directory containing a C file that contains two vulnerabilities which can be triggered using retrace getenv fuzzing. A README.md and retrace configuration files have been provided. I think this is a good approach, let me know if you think this approach needs to be changed and

[2017-07-11 02:06] erikbor commented on #222
@catap, please take into account multi platform support for this (e.g.: *BSD's and macOS). Cheers.

[2017-07-11 02:09] erikbor commented on #218
Once we distribute retrace as an package then we cannot assume that the target system has a C compiler installed to perform this wrapping. Maybe we could get away with building a light weight `retrace.in`-like template that can be turned into a target wrapper?

[2017-07-11 05:01] erikbor commented on #205
I also added examples for getuid() redirection: [#233](https://github.com/riboseinc/retrace/pull/223)

[2017-07-11 07:34] erikbor opened #225 "OpenBSD build fails: common.c:59:22: error: execinfo.h: No such file or directory"
@jjr840430 building on OpenBSD now fails because execinfo.h is not present on OpenBSD

execinfo.h got included in [221](https://github.com/riboseinc/retrace/pull/221)

Can you please have a look. Thanks.

[2017-07-11 07:52] jjr840430 commented on #225
@erikbor I don't have OpenBSD. :(
Can you try compile it without that header?
This header is required for backtrace() function.

[2017-07-11 07:54] erikbor commented on #225
@riataman can you help Jin please?

[2017-07-11 09:32] jjr840430 opened #228 "socket API fuzzing()"

[2017-07-11 13:40] wizzard commented on #225
I'm able to compile the project without execinfo.h header, I'll fix that issue.

[2017-07-11 13:41] riataman commented on #225
I can swear that I had removed that header in my last openbsd patch ...

[2017-07-11 13:44] wizzard commented on #225
@riataman do you want to remove that header completely from common.c or I can add a conditional include (include this header if it's present in the system)

[2017-07-11 13:44] riataman commented on #225
I don't even know why it was added. if it builds everywhere without it I guess we can just purge it.

[2017-07-11 13:46] wizzard commented on #225
Ok, then just remove that.
But if anyone needs to add a system specific header (such as execinfo.h), please use a conditional include, so the build doesn't fail on other systems.

[2017-07-11 14:13] jjr840430 commented on #225
Sorry, It was added by me :(

[2017-07-11 19:18] ronaldtse commented on #151
@catap do you plan on doing this or should someone else do it? Thanks!

riboseinc/homebrew-retrace#1

[2017-07-11 22:25] riataman commented on #222
This would be pretty hard to do with our current approach (shared library). We would need to basically force the dynamic linker to re link everything. I'm thinking it could somehow be done in Linux, not sure about about the other platforms and it we can it would be pretty platform specific code.

[2017-07-11 22:28] riataman commented on #222
For linux see man dl_iterate_phdr

[2017-07-12 02:36] ronaldtse commented on #151
I think @wizzard is going to do it. Thanks!

[2017-07-12 09:55] catap commented on #222
@riataman or we can do it over `ptrace`. I did a littel googling and found this: https://stackoverflow.com/questions/24355344/inject-shared-library-into-a-process

Anyway, I have no idea how it's possible on *BSD. For macOS I have idea try to use `dtrace`, but I'm not sure.

[2017-07-12 22:23] drystone commented on #222
@catap, @riataman I think there is more to it than loading the shared
library beacause the function pointers in the ELFs GOT will already have
been fixed up to the functions in the shared libraries at load time.

I guess it would be possible to locate the GOT and reset the pointers to
the fixup routines and you'd need to do that for all the shared
libraries too. Not impossible but not straigtforwa

[2017-07-13 00:52] #225 closed

[2017-07-13 00:54] #142 closed

[2017-07-14 00:31] riataman commented on #222
@catap are you taking a crack at this? Otherwise I'd like to give this a go.

[2017-07-14 00:55] riataman commented on #168
Fixed

[2017-07-14 00:55] #168 closed

[2017-07-14 00:56] riataman commented on #157
We have looking right now so we would be printing complete lines.

I also added a thread id to the printed headers if we are on any thread other than the main thread.

I guess the only thing we could do is add a configuration so we can dump individual thread logs into separate files.

[2017-07-14 07:40] catap commented on #222
@riataman it's yours :)

[2017-07-14 09:08] jjr840430 opened #237 "rtr_get_config_multiple() issue"

[2017-07-14 09:10] jjr840430 commented on #237
infinite loop when using rtr_get_config_multiple()

The example code:
while (1) {
 r = rtr_get_config_multiple(...);
 if (r == 0)
   break;
 else
   do_something;                 /* not break from while statement */
}

[2017-07-14 22:19] riataman commented on #237
this happens when where's no option after the one you are getting. as a quick work around you can add another option at the end of the file.

[2017-07-14 22:35] riataman commented on #237
Fixed by https://github.com/riboseinc/retrace/pull/239

now initialize it like this:

RTR_CONFIG_HANDLE config = RTR_CONFIG_START;

[2017-07-18 09:34] erikbor opened #243 "OpenBSD retrace seems to do nothing"
@riataman can you please look at another OpenBSD issue:

retracing 'id' on OpenBSD seems to hang/do nothing
[code]

retracing /bin/ls seems to ignore retrace completely (is this because of pledge()?)
[code]

[2017-07-19 03:11] #243 closed

[2017-07-19 03:11] riataman commented on #243
fixed by https://github.com/riboseinc/retrace/pull/244

[2017-07-19 03:41] riataman opened #246 "Tracing multithreaded programs in OpenBSD doesn't work"
pthread_once which we use to initialize our per thread tracing enabled variable calls calloc, which in turn check if tracking is enabled getting into a deadlock.

[2017-07-27 08:03] #228 closed

[2017-07-30 09:57] erikbor opened #249 "create a tool to inject strings into binary files"
This is an external tool to inject strings into binary files that are parsed by executables that are retraced. Eventually this functionality should be in retrace itself in fread etc.

I'd like to fuzz a whole bunch of operating systems handling of disk images, ELF files, image files etc and use retrace to see what's happening.

[2017-07-30 09:58] erikbor commented on #249
this is the stringinjector work

[2017-07-30 14:25] jjr840430 opened #250 "Socket IO fuzzing"
The configuration for network IO will be as followings:

fuzzing-net-io,[function name],[IO fuzzing type],[position],[count],[fuzzing rate]

- Function name
send, sendto, sendmsg, write
- IO fuzzing type
ASCII_STRING, FORMAT_STRING, GARBAGE, RANDOM_STRING
- position
'position' is the position value to be inserted. If position is over than length of buffer, then fuzzing will be ignored.
- count
'co

[2017-08-01 05:27] erikbor opened #251 "Change make install prefix from '/usr' to '/usr/local' to fix installation on macOS with SIP (enabled by default)"
SIP which is enabled by default macOS does not allow us to write in /usr/bin. I'd like to have the Makefile prefix changed from /usr to /usr/local so we can make install on macOS:

[code]

[2017-08-01 05:29] erikbor commented on #251
@wizzard @drystone

You guys alright with this?

[2017-08-01 05:39] ronaldtse commented on #251
We can enable this behavior specifically for macOS as well.

[2017-08-01 08:30] drystone commented on #251
@erikbor yes. I seem to remember discussing this before. `/usr/local` is the standard for locally installed packages (those outside the control of the package manager)

[2017-08-01 08:34] erikbor commented on #251
@drystone can you make this change then please?

[2017-08-01 15:49] #251 closed

[2017-08-01 15:51] wizzard commented on #251
@erikbor I fixed the default installation prefix to /usr/local as requested,
but please note: this won't fix your problem with permissions (/usr/local is usually writable by root user only)

[2017-08-02 00:02] erikbor commented on #251
@wizzard thanks for that!!!

The issue on macOS is that SIP prevents writes to /usr/bin even as root. /usr/local/bin otoh is not protected by SIP so sudo make install will work. Typically /usr/local/bin will be writeable for your desktop user anyway as it's the symlink target for brew its installed packages.

[2017-08-03 02:18] riataman commented on #246
Fixed by https://github.com/riboseinc/retrace/pull/253

[2017-08-03 02:18] #246 closed

[2017-08-04 03:03] #144 closed

[2017-08-04 09:11] ronaldtse commented on #249
@jjr840430 since stringinject is working now, we should merge that into retrace binary for on-the-fly modification of file syscalls content, such as via fopen (so we don't need to pregenerate the files anymore).

[2017-08-04 09:14] jjr840430 commented on #249
@ronaldtse OK, What's the option to integrate stringinjector into retrace?
By linking as library or executing as independent utility?

[2017-08-04 13:09] ronaldtse commented on #249
@jjr840430 we should integrate stringinjector functionality in file-io fuzzing and net-io fuzzing, then we don't need a separate stringinjector utility?

@erikbor could elaborate more?

[2017-08-04 14:10] jjr840430 commented on #249
@ronaldtse You are right. I will try to integrate stringinjector into retrace IO fuzzing.

[2017-08-05 02:03] ronaldtse commented on #250
@jjr840430 when do you estimate we have our first PR? Thanks.

[2017-08-05 02:05] ronaldtse opened #255 "File I/O fuzzing"
Fuzzing File I/O via file system calls:
* fopen, fdopen, freopen
* fread
* fwrite
* fclose, fcloseall

Related to functionality in `stringinject` #249

[2017-08-05 04:30] erikbor commented on #249
We still want to have a separate string injector utility so we can fuzz static linked binaries and kernels.
But the logic of the generation of long strings, format strings, and corrupt headers (changed bytes) can live in a function that is used by both retrace (for net-io and file-io) and the string injector utility.

[2017-08-05 04:34] ronaldtse commented on #249
Yes @erikbor is exactly right. The separate utility should probably link (or includes) libretrace!

[2017-08-05 20:45] #169 closed

[2017-08-05 21:21] riataman commented on #102
I just looked at the latest code with NetBSD and it's a royal PITA

A lot of functions are just wrappers, for example gettimeofday is just wrapper for __gettimeofday50. Which gets us into a loop with our current code. Our gettimeofday implementation gets properly renamed to __gettimeofday50 but our real_gettimeofday doesn't and it finds the wrapper which calls into our code which calls into the wr

[2017-08-06 05:15] jjr840430 commented on #250
@ronaldtse This part was almost implemented, but needs some testing still.
Will make PR soon.

[2017-08-06 15:20] jjr840430 commented on #249
@ronaldtse @erikbor I will make source files to include string injector functions in libretrace.

[2017-08-06 15:21] ronaldtse commented on #249
@jjr840430 or should we do it the other way around?

* include stringinjector functions in retrace lib
* stringinject executable should include retrace lib

[2017-08-06 15:23] jjr840430 commented on #249
Including stringinjector functions in retrace lib is possible and seems easy.
But not sure it's possible whether stringinject executable include retrace lib :)

[2017-08-07 06:38] erikbor commented on #102
@riataman
If it's too much of a hassle then let's forget NetBSD right now. I'd love to have support for it but I suppose that the user base of NetBSD is quite low anyway and getting retrace to work might take too much effort and it might get broken later leaving it in a broken state. What do you think?

[2017-08-07 07:00] jjr840430 commented on #249
@ronaldtse @erikbor Can you review the following README for stringinject in retrace?
https://github.com/riboseinc/retrace/blob/stringinjector/examples/stringinject/README.md

[2017-08-07 07:03] erikbor commented on #249
Looks good to me! Can you rename the 'position' to 'offset' please (and also in the source code)? That way we are fully in line with tools such as hexdump etc.

[2017-08-07 07:11] jjr840430 commented on #249
@erikbor Thanks for your reviews. I will modify so. Thanks.

[2017-08-07 07:23] jjr840430 commented on #255
@ronaldtse @erikbor
I'm not sure how apply stringinject into fopen, fdopen, freopen.

Are you planning to replace file contents with injected buffer before calling fopen()?

[2017-08-07 07:25] erikbor commented on #255
I didn't see this issue before but fopen/fdopen/freopen/fclose/fcloseall indeed cannot have string inject. Please skip those.

[2017-08-07 07:29] jjr840430 commented on #255
@erikbor If retrace injects strings before calling fopen, then it would have more efficiency than injecting  while calling fread/fwrite.
I think that option would be helpful too.

[2017-08-07 07:35] erikbor commented on #255
So you're saying that we should fuzz strcpy/strncpy/sprintf/snprintf/strlcpy/strcat? The thing I'm worried about is when taking that we'd modify buffers that are used by the program and will crash the program we are fuzzing. Because how would you identify the buffer that is going to be used in the send/write/read?

[2017-08-07 07:49] jjr840430 commented on #255
@erikbor I didn't say to fuzz string functions.
That's mean that retrace may inject strings into a file which is called by fopen() while hooking fopen() function.

[2017-08-07 07:52] erikbor commented on #255
@ronaldtse what do you think?

[2017-08-07 12:48] ronaldtse commented on #255
My intention was:

* fread: the content that is read out is fuzzed - meaning that retrace will run `real_fread` but occasionally fuzz some content (and length returned).
* fwrite: content that is written is fuzzed (and length).
* fopen: as @jjr840430 mentioned we can read in the whole file and proxy the file descriptor for fuzzed content. Also simulate error conditions.
* fclose: simulate error co

[2017-08-07 22:19] drystone commented on #102
@riataman would  `real_gettimeofday = _dl_sym(RTLD_NEXT, "__gettimeofday50")` solve this? If so we could fairly easily change everything to use the equivalent of `_dl_sym(RTLD_NEXT, gettimeofday_sym)`

[2017-08-07 22:24] riataman commented on #102
real_gettimeofday = _dl_sym(RTLD_NEXT, "__gettimeofday50")  would indeed solve it. Also need to be done for quite a bunch of others ... not all of them, and the number changes from one to another.

[2017-08-08 05:52] jjr840430 commented on #249
@ronaldtse @erikbor When injecting format string, overflow buffer and file line, is there any requirement for source stream?
i.e. Above injections may have meaning when source buffer or stream is ascii data.

[2017-08-08 05:56] erikbor commented on #249
@jjr840430 Yes you are correct. But I think for now it's best to just insert it regardless of what type of stream it is. In the future it would be great to take into account things like encoding etc but we'd like to have the basic functionality as soon as possible :) We are very eager to start fuzzing. Making things better + enhancing can come later.

[2017-08-08 05:57] jjr840430 commented on #249
ok, will do

[2017-08-10 04:00] ronaldtse opened #260 "Move source code to `/src`"
The list of files clutters up the Github repo page, can we move them to `/src` and update autotools? Thanks.

[2017-08-11 07:13] jjr840430 commented on #260
@ronaldtse Implemented on #263 . Please review.

[2017-08-11 08:26] jjr840430 commented on #250
That was implemented by #256

[2017-08-11 08:41] #260 closed

[2017-08-11 08:47] ronaldtse commented on #260
Thanks!

[2017-08-11 10:44] jjr840430 commented on #255
@ronaldtse What do you think about that?
https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/conversation/conversations/7866518f-9410-5acd-b3cd-70178d9c9020

So we may extend retrace fuzzing functions into almost system calls by specified fuzzing types on above link.

[2017-08-12 02:50] ronaldtse commented on #250
Let's close this since #256 is merged. Thanks!

[2017-08-12 02:50] #250 closed

[2017-08-12 02:53] ronaldtse commented on #255
I agree with the approach, as long as we keep fuzzing options independent on each area.

[2017-08-12 02:54] ronaldtse commented on #249
This seems att done with #256!

[2017-08-12 02:54] #249 closed

[2017-08-12 02:59] ronaldtse opened #264 "Tests for stringinject"
Stringinject is now a useful tool that we should have tests to ensure it doesn't break.

@jjr840430 could you help create some tests for it? @erikbor had a number of samples.

Thanks!

[2017-08-12 03:02] ronaldtse commented on #199
@riataman , any plans now to separate writing each thread / forked process to a different file? Technically we can already do that with shell grepping as each line shows the thread / process ID. But we're missing a ready-made example.

[2017-08-12 03:05] ronaldtse commented on #155
Now that we have the LOG_* groups @jjr840430 's suggestion makes more sense? @drystone @riataman what do you think?

[2017-08-12 03:58] erikbor opened #265 "cannot get stringinject on send() to work"
@jjr840430 I cannot get stringinject on send() to work on macOS, is there something wrong with my config or usage?

[code]

my sample send.c:
[code]

my run:
[code]

[2017-08-12 07:44] drystone commented on #155
Is there not enough flexibility in the general logging-* options? If there isn't then I think it would be preferable to adapt those rather than add per-fuzz logging options.

[2017-08-13 01:51] jjr840430 commented on #265
@erikbor It's working on Ubuntu, Let me check on MacOS.

[2017-08-13 02:14] jjr840430 commented on #265
@erikbor It's really not working on MacOS :(

[2017-08-13 02:56] jjr840430 commented on #265
@erikbor rtr_get_multiple_config() function  doesn't work on MacOS, so it couldn't get configuration for fuzzing send() function.
I will look that function.
@drystone Can you help me to check why rtr_get_multiple_config() isn't working?

[2017-08-13 07:38] ronaldtse commented on #20
@drystone @jjr840430 any update on this issue? Hope we could complete this soon. Thanks!

[2017-08-13 10:45] drystone commented on #265
@jjr840430 @erikbor there was a string termination bug in get_config() which could be the cause. I've pushed a fix so please try again.

[2017-08-13 12:23] drystone commented on #20
Yes, sorry, I've effectively blocked this issue. I can't help thinking that the most flexible solution would be, as @riataman suggested, to set up a forwarding proxy to intercept the necessary urls and use the `connect` redirection that already exists. Technically though, I don't see any problem with redirecting simple (non ssl) HTTP requests. Config: `httpredirect,ip,port,contentdir`. The files i

[2017-08-13 13:01] jjr840430 commented on #20
@ronaldtse I have written some simple plugin to implement this function.
Here is the link. https://github.com/riboseinc/retrace/tree/issue_20/plugin
I will try integrate it with recent retrace in next week.

[2017-08-13 14:30] jjr840430 commented on #264
@ronaldtse no problem. I will work on that with @erikbor .

[2017-08-14 01:32] erikbor commented on #265
@drystone @jjr840430 I pulled the latest code and built it but it still doesn't work on macOS. I also tried ```INJECT_BUF_OVERFLOW```:

[code]

[2017-08-14 05:56] jjr840430 commented on #265
@erikbor sorry for delay, I didn't still find the bug in config parser part.
will update soon.
Also is it possible to support remote access to Mac VM? @drystone doesn't have mac os.

[2017-08-14 06:08] jjr840430 opened #267 "config parsing isn't working on macos."
The following configuration lines are working well on Ubuntu, but not on mac os.
Here is the example for configuration.

[code]
On mac os, retrace prints the logs for whole syscall functions and doesn't parse stringinject configuration.

[2017-08-14 09:16] erikbor commented on #265
@jjr840430 I don't use VMs only physical hardware and I can't provide remote access at this moment for that reason :(

[2017-08-15 10:30] ronaldtse commented on #215
@jjr840430 could you help handle this? It should just be a copy / paste from rnp. Thanks.

[2017-08-15 10:32] jjr840430 commented on #215
@ronaldtse OK, I will implement that.

[2017-08-16 06:01] jjr840430 opened #270 "Travis CI for mac os doesn't run runtests.sh properly"

[2017-08-16 09:49] drystone opened #272 "Setup cloud hosted OS X for debugging"
For those of us not fortunate enough (or too sensible ;) to own a Mac, a cloud Mac would be extremely useful. Would someone with Mac-fu please set up a VM with all build depends in place so we can simply ssh in, ./configure; make and gdb.

[2017-08-16 09:51] jjr840430 commented on #215
Refer pull request #271

[2017-08-16 15:46] ronaldtse opened #273 "macOS building issues"
[code]

[code]

[code]

[code]

[code]

[code]

[2017-08-16 17:13] ronaldtse commented on #272
@drystone I've setup retrace on our internal Jenkins macOS slave so every new/updated PR will cause the macOS build to run.

Unfortunately it is not very much "debuggable" on the fly, but here's the script to run the macOS build for your reference. So if you change `ci/{install,main}.sh` the build will be updated too.

[code]

[2017-08-16 18:09] ronaldtse commented on #272
@drystone just to let you know that Travis also supports macOS -- so we can also run it there given that someone is willing to update the `.travis.yml` file!

[2017-08-16 18:33] ronaldtse opened #276 "macOS CMocka test failure"
Here's the rather large log file!

[test-suite.log.zip](https://github.com/riboseinc/retrace/files/1229175/test-suite.log.zip)

[2017-08-16 22:18] drystone commented on #272
@ronaldtse I suppose it would be possible to set up an ssh tunnel and access either your internal slave or travis that way. The trouble with travis is that is seems there is a 30 minute wait for a MacOS instance at peak times. Would it be possible to hire something like [a basic xcloud server](https://xcloud.me/) as ability to use gdb would be really beneficial to track down bugs like the [send bu

[2017-08-17 05:43] jjr840430 commented on #276
@drystone As I mentioned before, rtr_get_config_multiple() function was failed on mac os.
Can you please look test-suite.log.zip?

[2017-08-17 06:10] jjr840430 commented on #273
@ronaldtse
What do you think about tracing deprecated APIs?
Some applications may be written using deprecated APIs.

Here is the example of compile issue when testing deprecated API.

temp.c:45:8: warning: 'tempnam' is deprecated: This function is provided for compatibility reasons only. Due to security concerns inherent in the
      design of tempnam(3), it is highly recommended that you use mkst

[2017-08-17 06:37] ronaldtse commented on #273
@jjr840430 I think it's a good idea to keep tracing them, but it should not fail the build. So this warning is OK.

I was concerned about the other compilation issues instead of this. Thanks!

[2017-08-17 08:06] jjr840430 commented on #273
related with pull request #277

[2017-08-17 09:51] jjr840430 commented on #276
related with pull request #277

[2017-08-18 02:41] ronaldtse opened #279 "Travis macOS build failure"
Caused by this line found in #277:

[code]

Build actually passes on macOS but fails in Travis macOS.

[2017-08-18 02:42] ronaldtse commented on #276
Fixed in #277 , thanks!

[2017-08-18 02:42] #276 closed

[2017-08-18 02:42] ronaldtse commented on #270
Superseded by #279

[2017-08-18 02:43] #270 closed

[2017-08-18 02:43] ronaldtse commented on #267
@jjr840430 is this fixed by #277 already?

[2017-08-18 02:45] ronaldtse commented on #273
Confirmed all except `tempnam` fixed. `tempnam` is actual functionality in retrace so is not a problem. Thanks @jjr840430 !

[2017-08-18 02:45] #273 closed

[2017-08-18 02:45] ronaldtse commented on #215
Completed in #271. Thanks @jjr840430 !

[2017-08-18 02:45] #215 closed

[2017-08-18 05:34] jjr840430 commented on #267
yes, @ronaldtse, It was fixed by that.

[2017-08-18 06:09] #267 closed

[2017-08-18 06:57] drystone commented on #237
I added this test to test/config.c and it fails
[code]

[2017-08-18 07:38] jjr840430 commented on #237
@drystone I think the testing code should be as the followings:
[code]

[2017-08-18 08:05] drystone commented on #237
@jjr840430 that's a good spot :) But it still breaks - I'll look at your latest PR

[2017-08-23 09:00] jjr840430 commented on #237
@drystone Still not working. I think the testing code for config isn't enough to test that function.

[2017-08-23 10:53] drystone commented on #237
@jjr840430 so what's happening - is this Mac specific or more general?

[2017-08-24 05:36] jjr840430 commented on #237
@drystone It's Mac specific issue.

[2017-08-24 09:53] #237 closed

[2017-08-25 20:27] jjr840430 commented on #265
Fixed on #284

[2017-08-25 20:27] #265 closed

[2017-08-25 20:28] jjr840430 commented on #279
@ronaldtse I think it's working on Mac.

[2017-08-25 20:28] #279 closed

[2017-08-25 20:32] jjr840430 commented on #155
@ronaldtse The logging for only specific groups was already implemented.
Here is the link what types of logging group are exist.

https://www.ribose.com/#spaces/40b2063b-ccf5-484f-9fe9-fb7ffcafbedd/conversation/conversations/9ac6506b-9e81-5f90-ac38-bf35977064c3

[2017-08-28 08:23] erikbor opened #285 "Create a major+minor release for retrace"
We'd like to start submitting retrace to third-party websites and build RPMs etc. But for that a major release number is needed. I think retrace is stable enough for a 1.0 version.
@drystone is this something you can do?

[2017-08-28 08:44] ronaldtse commented on #272
Resolved.

[2017-08-28 08:44] #272 closed

[2017-08-28 08:47] ronaldtse opened #286 ""Mess with the universe" buffer overflow sending"
As requested by @erikbor in #284

[2017-08-29 12:33] drystone commented on #285
@erikbor not sure whether this is what you intended but I've bumped the version to 1.0.0

[2017-09-02 09:12] #83 closed

[2017-09-03 14:31] riataman opened #293 "OpenBSD build is broken"
STAILQ_* doesn't seem to exist in OpenBSD.

See http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/sys/sys/queue.h?annotate=1.44

[2017-09-03 19:54] drystone commented on #293
Could you try [this branch](https://github.com/riboseinc/retrace/tree/openbsd-stailq) please

[2017-09-03 21:53] drystone commented on #293
@riataman ... or do you think it would be better to have `openbsd-specific.h` etc. to avoid too much cruft in `configure.am` and `config.h`?

[2017-09-04 14:19] riataman commented on #293
@drystone made it advance a little more, but now its breaking because there's no -Wno-unused-result in the old version of gcc that OpenBSD ships with (4.2.1).

[2017-09-04 14:46] riataman opened #295 "FreeBSD crashes with base system binaries"
There's something weird with freebsd:

[code]

This happens with all the core system binaries. BUT the weird part is that I can't dupe with any of our tests. Here is the backtrace:

[code]

Seems like an issue when initializing the threading library, which calls mmap, which calls pthread_mutex_lock  which crashes since the thread library hasn't been initialized yet. I couldn't quicktly figure out

[2017-09-04 16:35] ronaldtse commented on #295
Someone just told me this too for FreeBSD.

Commands to compile:

[code]

However, the built executable dies with segmentation fault :
[code]

[2017-09-04 16:45] drystone commented on #293
Which OpenBSD are we targetting? 6.1 has GCC4.9.4

[2017-09-04 23:26] riataman commented on #293
Is that true? I have OpenBSD 6.1 and it has gcc 4.2.1.

Maybe 4.9 is available in ports, but certainly doesn't seem to be part of the the base system.

[2017-09-05 07:29] drystone commented on #293
Strange. I've tried 5.9 and 6.1 from the repos (no ports) and I have gcc 4.9 on both?

[2017-09-05 11:37] drystone commented on #293
You need `pkg_add gcc`. I'm fairly sure this was all you needed on 6.1 but 5.9 requires a change to `configure.ac` as the binary is `egcc`. I've uploaded a patch to `openbsd-stailq`. So it builds, but doesn't work ;) I'm away until next week so won't be able to dig deeper for a few days.

[2017-09-10 02:29] #174 closed

[2017-09-10 02:30] #199 closed

[2017-09-10 07:48] #179 closed

[2017-09-16 09:48] #293 closed

[2017-09-16 14:10] #295 closed

[2017-09-16 14:10] riataman commented on #208
fixed

[2017-09-16 14:10] #208 closed

[2017-09-30 16:51] ronaldtse commented on #286
@jjr840430 @drystone would anyone be free for this one?

[2017-09-30 16:52] ronaldtse commented on #264
@jjr840430 any thoughts on the tests? Thanks!

[2017-10-01 07:17] jjr840430 commented on #286
@ronaldtse I tried to test with OpenVPN server, but it doesn't have any leak. Will try to test with another networking servers.

Do you have any recommended list for testing?

[2017-10-02 13:30] drystone commented on #286
@ronaldtse I think the string inject functionality is already available for `send` #284 - @erikbor @jjr840430 please confirm `send` buffers can be suitably messed up

[2017-10-03 04:17] erikbor commented on #286
@drystone yes it is available but there is one thing missing, and that's the "mess with the universe" option of sending a larger (`size_t length`) than intended string (`const void *buffer`) in functions such as `send()`.

In the examples directory I put a vulnerable http-server (`examples/http-server-overflow`) and when you retrace `curl` you can trigger a buffer overflow at the server side.

The

[2017-10-03 06:10] #163 closed

[2017-10-03 10:00] drystone commented on #286
Does #303 fix it?

[2017-10-03 18:05] jjr840430 commented on #286
The last update has segfault issue while testing with openvpn service.

[2017-10-03 18:10] jjr840430 commented on #286
sorry, it was my fault

[2017-10-03 18:10] #286 closed

[2017-10-04 03:39] erikbor opened #304 "Strange behaviour of the output of sendto() injection"
@drystone can you take a look at this please?

I have an example UDP echo server:

[code]

Running the echo server in **terminal 1**:
[code]

Sending a string to the echo server in **terminal 2**:
[code]

Output in **terminal 1**:
[code]

Now running the echo server with the following retrace configuration:
`retrace.conf`:
[code]

**Terminal 1**:
[code]

**Terminal 2**:
[code]

**Terminal 1**:
[co

[2017-10-04 03:46] erikbor commented on #304
The same issue is also present with `INJECT_BUF_OVERFLOW`:

[code]

Terminal 1:
[code]

Terminal 2:
[code]

And in this case we don't even see the AAAA's that are generated by `INJECT_BUF_OVERFLOW`

[2017-10-04 07:54] drystone commented on #304
@erikbor, buffers were `free`d before logging. Fixed in #305

[2017-10-04 08:09] #304 closed

[2017-10-04 08:31] erikbor opened #306 "Introduce an overwrite option for stringinject INJECT_FORMAT_STR, stringinject INJECT_SINGLE_HEX and stringinject INJECT_FILE_LINE"
The `stringinject` function currently **inserts** `INJECT_FORMAT_STR`, `INJECT_SINGLE_HEX` and `INJECT_FILE_LINE`. So when `buf` is something like `this is my string` (len 17 bytes) and we `stringinject` `INJECT_FORMAT_STR` at offset 2 with a count of 2 the resulting `buf` will be: `thi%s%ss is my string` (len 21 bytes).

Can you please introduce an **overwrite** option to these 3 string injects.

[2017-10-04 08:50] erikbor commented on #306
In case the `buf` size is not big enough to hold the injected strings then truncating the injected string is alright.

[2017-10-04 09:12] drystone commented on #306
@erikbor sure. We'll need to add a `replacecount` parameter (or `replace` boolean). Should I adjust the existing syntax or add a new injection type?

[2017-10-05 08:25] erikbor commented on #306
@drystone what ever you think makes the most sense! Thanks a lot, this will be a killer feature :D

[2017-10-09 08:28] erikbor commented on #222
@riataman is this still something you want to work on?

[2017-10-09 08:40] erikbor commented on #306
@drystone could you also come up with an example for the `/examples` directory? Cheers

[2017-10-09 14:58] drystone commented on #306
Yes, will do, currently working on some tests too.

On Mon, Oct 09, 2017 at 08:40:45AM +0000, erikbor wrote:

[2017-10-09 15:24] jptemco commented on #222
Well, I looked at this for a while but never found a solution I was happy with. I made some tests works but those required to use gdb to inject into the running process.

There was another option of manually injecting the so, but that required very platform dependant asm code for each OS/architecture.

I would have been happy if there was a libgdb that I could use, but something like that was aban

[2017-10-09 15:25] riataman commented on #222
Well, I looked at this for a while but never found a solution I was happy with. I made some tests works but those required to use gdb to inject into the running process.

There was another option of manually injecting the so, but that required very platform dependant asm code for each OS/architecture.

I would have been happy if there was a libgdb that I could use, but something like that was aban

[2017-10-11 03:18] erikbor commented on #222
@riataman Thanks for the update

[2017-10-11 03:21] drystone opened #308 "Problem with tests on macOS 16.7"
The tests don't appear to be working on macOS 16.7 - `test/exec` hangs at `system("/bin/false")` (although it should be `/usr/bin/false` but makes no difference). Is it a problem with newer macOS (travis is v15 and seems to work)?

[2017-10-12 18:45] drystone commented on #308
It turns out that `setlocale` has nested calls such as `malloc`. When tracing these nested calls, on macOS at least, `vsnprintf` hangs. So we can use `vsnprintf_l` with a NULL locale to force "C" locale. Fix in #309

[2017-10-12 23:06] #308 closed

[2017-10-13 04:36] ronaldtse commented on #151
@wizzard it's been a while -- @jjr840430 could you help do this formula? Thanks!

[2017-10-13 06:06] jjr840430 commented on #151
@ronaldtse The `homebrew` for `retrace` was already created [here](https://github.com/riboseinc/homebrew-retrace)

[2017-10-13 09:23] #255 closed

[2017-10-13 09:41] ronaldtse commented on #151
Oh my memory... closing!

[2017-10-13 09:41] #151 closed

[2017-10-14 08:25] ronaldtse commented on #222
@catap would you be able to work your magic on this? 😉

[2017-10-15 07:28] erikbor commented on #306
@drystone Hi John, I just had the opportunity to thoroughly test your recent commits and I am wondering how I can define wether the overwrite at pos should happen or not.

Another question I have is what does `STRINJECT_TYPE_STANDARD` do?

Cheers

[2017-10-17 05:05] ronaldtse commented on #264
@jjr840430 perhaps we can get to this once you have time.

[2017-10-17 08:33] erikbor commented on #306
@drystone John, can you give an update regarding the overwrite option please? We're already using Retrace in real life fuzzing of NSD and it would be great if we can also include fuzzing without altering the packet size. Thanks!

[2017-10-17 12:04] drystone commented on #306
@erikbor not got around to documenting yet but meantime, please see comment at #307 and look at [`test/strinject.sh`](https://github.com/riboseinc/retrace/blob/master/test/strinject.sh) and [`test/strinject.c`](https://github.com/riboseinc/retrace/blob/master/test/strinject.c) for reference

[2017-10-18 03:11] ronaldtse commented on #175
@catap sorry for the late reply, yes, it's identical.

We've just added a `git-checkpatch` script here https://github.com/riboseinc/checkpatch that can allow you to run the retrace CI checks locally.

And the Homebrew formula is available like this:
[code]

[2017-10-30 08:26] erikbor opened #319 "OpenSSL is not found on macOS"
@jjr840430

I just noticed that OpenSSL is not found on macOS during configure:
[code]

Can you fix this similar to how you did with RVC please?
And can you verify that the OpenSSL test/example still works.

[2017-10-30 08:29] jjr840430 commented on #319
@erikbor will do, Thanks.

[2017-10-30 08:32] erikbor opened #320 "Example for DNS zone transfers"
@jjr840430

Can you write a light DNS zone transfer (AXFR) utility with the following syntax:

[code]

And:
* TCP
* It should support both ipv4 and ipv6
* It should use `send()` (so we can fuzz it)
* It should display the results from `recv()`
* TSIG etc is not needed for now

Do you have time for this? :)

[2017-10-30 08:33] erikbor commented on #320
I will write the example README.md and the corresponding tests so no need for those.

[2017-10-31 01:03] erikbor commented on #320
@jjr840430 btw, we will use this for NSD fuzzing

[2017-10-31 01:18] erikbor commented on #306
@drystone I have tested your commit extensively and ran a fuzzing session which took 4 hours and generated over 1 million DNS requests. No failures and the output was exactly as expected. Your `OR|XOR|AND` additions worked extremely well. Thanks for that!!! 👍

I have enough operational experience now with these additions that I'll write the documentation.

[2017-10-31 01:18] #306 closed

[2017-10-31 07:44] jjr840430 commented on #320
@erikbor I will build this utility from today :) Thanks.

[2017-10-31 07:44] erikbor commented on #320
@jjr840430 nice one!!! thanks!!!

this has priority over writing the approach 👍

[2017-10-31 08:56] jjr840430 commented on #319
@erikbor Fixed by #321

[2017-11-01 07:55] ronaldtse commented on #68
`man` pages can be written in AsciiDoc! Woohoo! Anyone interested?

[2017-11-01 07:58] ronaldtse opened #322 "Dynamically-controllable retrace (or "programmable retrace")"
As @ikolomi said,

I remember @riataman was interested in a dynamically-driven retrace. Given the retrace framework we could take it one step further in making it programmable, so you can actually change how a binary works using a program as an "intelligent driver".

Thoughts?

[2017-11-01 08:00] ronaldtse commented on #285
Thanks @drystone , it's probably time again to bump version and actually make release 👍

[2017-11-01 09:52] jjr840430 commented on #320
@erikbor I researched some open sources to build light utility to transfer DNS zones.
Can we use `host`(`bind9`) or `nsd-control` utility?

Those utilities are some complex to build light individual utility due to some internal library dependencies.

From some tests, I noticed that it uses `read`/`write` syscalls and those functions may be fuzzed by current `retrace`.

If you agreed with those uti

[2017-11-01 10:04] erikbor commented on #320
@jjr840430 I think that the utilities mentioned can be used for the fuzzing efforts. But I'd like to have a utility that uses `sendto()` for the `AXFR`. I have the fuzzing framework to fuzz `sendto()` ready so the utility would be a drop in replacement for `query.c`. Having to modify it for `host` or `nsd-control` would result in duplicate work for my efforts. Bernstein wrote a document describing

[2017-11-01 10:58] jjr840430 commented on #320
@erikbor OK, then I will work to build this utility from today. Thanks.

[2017-11-02 00:02] ronaldtse commented on #320
BTW I think there are some newer points about AXRF in RFC 5936: https://tools.ietf.org/html/rfc5936

[2017-11-02 21:17] jjr840430 opened #323 "Missed file or socket I/O functions"
While tracing `nsd`, I noticed that the following functions are missed from `retrace`.

- `readv`
- `writev`

[2017-11-03 08:18] #319 closed

[2017-11-03 20:15] jjr840430 commented on #320
@erikbor I have implemented simple AXFR client in `examples/dns-fuzz/foward.c`.
Please review it and let me know your opinions. Thanks.

[2017-11-06 12:26] jjr840430 commented on #323
Fixed by pull requests #324

[2017-11-07 07:08] erikbor commented on #320
@jjr840430 it works amazing, thank you so much! Can you merge it to master please?

[2017-11-07 07:20] jjr840430 commented on #320
@erikbor merged :)

[2017-11-09 05:47] #323 closed

[2017-11-09 05:48] #320 closed

[2017-11-15 09:48] erikbor opened #331 "Replace the `retrace` shell script with an executable"
Hi @jjr840430

Can you replace the `retrace` shell script with an executable?

Can you implement a check whether the target binary has the SUID bit set and exit accordingly because we can't retrace a SUID binary.

This is part of the initial work to make Retrace suitable for automation.

Thanks!

[2017-11-15 10:05] erikbor opened #332 "implementation of a stringinject configuration variable"
Hi @jjr840430 can you implement a Retrace configuration environment variable specifically for `stringinject`?

Now we configure `stringinject` via a configuration file that can be defined by the environment variable `RETRACE_CONFIG`. To make mass fuzzing faster it would be beneficial if a single `stringinject` can also be configured via a special environment variable.

Example:
[code]

This will o

[2017-11-15 10:24] erikbor opened #333 "Development of a utility that can execute commands in parallel that are specified in a single command file"
For the fuzzing efforts we'd like to have a utility that can execute commands in parallel/concurrently.

Usage:
[code]

The content of the command file (e.g.: `/tmp/cmd.txt`) looks like:
[code]

We could execute this command file like this:
[code]

The utility would first execute `command 1`, `command 2`, `command 3`, `command 4` with a timeout of 5 seconds. Once a command has finished (whether it

[2017-11-16 04:26] erikbor opened #334 "loading of the Retrace configuration via an environment variable"
Hi @jjr840430 can you implement loading of the Retrace configuration via an environment variable?

Now we can specify a configuration file that can be defined by the environment variable `RETRACE_CONFIG`. Retrace will then open that file and get its configuration.

To make mass fuzzing faster it would be beneficial if we can have the entire configuration in a special environment variable.

This is

[2017-11-16 04:26] #332 closed

[2017-11-16 04:26] erikbor commented on #332
Duplicate of [334](https://github.com/riboseinc/retrace/issues/334)

[2017-11-16 05:02] jjr840430 commented on #334
@erikbor OK, I will implement it. Thanks.

[2017-11-16 05:25] jjr840430 commented on #334
@erikbor `RETRACE_CONFIG` is already used as an environment variable for specifying the configuration file path.

What about using `RETRACE_CONFIG_VAR` instead it.

[2017-11-16 05:26] erikbor commented on #334
Any variable name is fine, so `RETRACE_CONFIG_VAR` is alright. Thanks!

[2017-11-16 05:29] jjr840430 commented on #334
By the way, is it possible to modify configuration var while tracing?
I think it's possible case when tracing `daemon` processes, so we may update configurations while running `daemon`.

[2017-11-16 05:32] erikbor commented on #334
Yeah that will be one of the key modifications that needs to be done soon. I described the first steps in the discussion with you and Ilja. I am writing a more detailed explanation with a diagram and will soon share that for your review.

[2017-11-16 05:34] jjr840430 commented on #334
Another question, when `retrace` has the configuration file using `-f` option and `RETRACE_CONFIG_VAR` env, then which configuration should be loaded?

[2017-11-16 05:38] erikbor commented on #334
Maybe check whether the first line of `RETRACE_CONFIG` results in a successful `stat()` which would mean that's a valid file and then fopen it. If the `stat()` fails then proceed with loading the config from that environment variable?
Do you think that's a good approach?

[2017-11-16 05:44] jjr840430 commented on #334
I think `RETRACE_CONFIG_VAR` may remain after completed tracing for the specific application.
If another application should be traced, then old `RETRACE_CONFIG_VAR` may bring some conflicts.

I think `RETRACE_CONFIG_VAR` should be ignored if `-f` option is specified.

What do you think about it?

[2017-11-16 06:03] erikbor commented on #334
Okay cool

[2017-11-16 18:45] jjr840430 commented on #334
@erikbor Implemented by #335

[2017-11-17 23:41] jjr840430 commented on #333
@erikbor It was implemented by #336

[2017-12-01 15:15] ronaldtse opened #338 "Retrace config in JSON"
Recap: @ikolomi has suggested a JSON configuration syntax.

I think it looks comprehensive and extensible as we grow functionality. However it also makes novice configuration difficult.

Perhaps we can come up with a good minimal example to show new users how they can use retrace in a simple way (e.g., just to override a single call).

To me, we should proceed in this direction.

Thoughts?

[code]

[2017-12-01 15:24] jjr840430 commented on #338
@ronaldtse It looks good.
Can you explain why `Functions` has `ReturnType` and `Params`?

[2017-12-01 16:35] ronaldtse commented on #338
@ikolomi came up with this JSON, so he would be more familiar with it.

I think you're right that the intention is to allow people to directly create `retrace` functions through the JSON template for overriding return values.

[2017-12-01 19:06] ikolomi commented on #338
Guys
Recently, Ive been making progress with implementing the common interception engine that will allow to intercept any function for which a metadata exists. The metadata shall include the calling convention and the function prototype. All this is to allow the ultimate goal of running an interception script that can be configured via configuration. The principal configuration format shall be JSO

[2017-12-04 17:32] jwilk opened #339 "Retrace Challenge results?"
README says that the Retrace Challenge winners "will be announced on 2017-10-16 (GMT) on the same page as this announcement".
2017-10-16 was nearly 2 months ago.

[2017-12-05 03:00] ronaldtse commented on #338
@ikolomi our goal is to enhance retrace so any new code would be welcome! Look forward to your PR 👍

[2017-12-11 07:38] jjr840430 commented on #338
Since `wrapper` for `retrace` was implemented, I think we need to implement JSON config parsing by this `wrapper` utility.

[2017-12-11 07:49] ikolomi commented on #338
@jjr840430 The config is for the main retrace engine , I dont think the wrapper should be involved. There is no need to mix them. The wrapper may have its own config, which also can be implemented in JSON if needed

[2017-12-12 07:02] jjr840430 commented on #338
@ikolomi I think we need to keep 'libretrace.so' to dedicate for tracing syscall functions.
My thoughts are to make `libretrace.so` as linked to the just libc library.

[2017-12-19 07:32] jjr840430 commented on #338
@ikolomi Do you have any progress? I'm waiting for your PR.

[2017-12-19 08:59] erikbor opened #340 "Retrace release + formula"
Hi @jjr840430

Can you please create a release for Retrace similar to what you've done for RVC?

Many thanks!!!

[2017-12-19 10:05] jjr840430 commented on #340
@erikbor Done.

[2017-12-20 00:45] ronaldtse commented on #340
Thanks @jjr840430 !

[2017-12-20 00:45] #340 closed

[2017-12-20 00:46] ronaldtse commented on #340
Formula updated at: https://github.com/riboseinc/homebrew-retrace/pull/4

[2018-01-22 09:39] erikbor opened #343 "Port `examples/id-redirection` and `examples/getenv-fuzzing` over to `feature/retrace_v2`"
Hi @jjr840430

Ilja has made some great progress with the rewrite. retrace_v2 now compiles on CentOS7 (and I assume it also compiled on Ubuntu).
Can you port two of the examples over to `retrace_v2`? This will include writing the required `.json` file as mentioned by Ilja (`retrace_script_proposal.json`) in the conversation.

Thanks!

[2018-01-22 11:07] ikolomi commented on #343
Guys, currently the only implemented action is log_params. I will have to
implement fuzzing action for porting of these examples. Will start work on
that if we agree on scripting format

On Jan 22, 2018 11:40, "erikbor" <notifications@github.com> wrote:

[2018-01-22 17:19] jjr840430 opened #344 "V2 isn't compiled on MacOS"
Here is the error while compiling `v2` on MacOS.

[code]

[2018-03-10 17:16] ronaldtse opened #346 "Develop event types / models and configuration items / models"
Based on https://github.com/riboseinc/event-configuration-models.

* A list of event types and their contents.

* List of things that can be configured, in a hierarchical way.

[2018-03-10 17:16] ronaldtse commented on #344
@jjr840430 @ikolomi is this fixed now? Thanks.

[2018-03-10 17:17] ronaldtse commented on #343
@ikolomi is this done now? Or can we get help from others? Thanks!

[2018-03-10 17:17] ronaldtse commented on #338
We will need to first define the configuration model here, and then the configuration format.

[2018-03-10 17:32] ikolomi commented on #338
I am starting to work on modify-params intercept action and plan to deliver
it together with configuration facility

On Sat, Mar 10, 2018, 19:18 Ronald Tse <notifications@github.com> wrote:

[2018-03-10 17:33] ikolomi commented on #343
Not yet as modify-params action is not implemented yet. this would be the
next step.

On Sat, Mar 10, 2018, 19:17 Ronald Tse <notifications@github.com> wrote:

[2018-03-10 17:35] ikolomi commented on #344
I had provided and tested 3 makefiles for each platforms linux mac and bsd.
Id ask you guys to integrate it into the build script of the original
retrace...

On Sat, Mar 10, 2018, 19:16 Ronald Tse <notifications@github.com> wrote:

[2018-07-04 07:27] jjr840430 opened #353 "integrated retrace with libnereon"
Here is the [libnereon](https://github.com/riboseinc/libnereon)

[2018-07-04 08:50] jjr840430 commented on #353
@ronaldtse @ikolomi
Can you give the guide how to use `retrace_v2`?

[2018-07-04 09:04] ikolomi commented on #353
Sure Jin
The main difference with v2 is that it’s designed to be programmable (I.e.
shimming logic is described via common json syntax provided via environment
var) and easily extendable (I.e. adding new shimable functions is merely a
matter of providing its prototype and adding new actions is a mattter of
implementing an interface).

The shiming mechanics is currently the same using LD preload.
Y

[2018-07-04 09:14] jjr840430 commented on #353
@ikolomi
I did execute the following commands to test `retrace_v2`

[code]

Then it shows the following result:

[code]

Is that expected?

[2018-07-04 09:32] ikolomi commented on #353
Yes it is.
First, you can see a warning that config json is not set - use
RETRACE_JSON_CONFIG environment var to point to the json config (you will
find examples of such jsons accompanying each example). I am sorry
regarding the lack of docs - I am still deep in development stage and
didn’t have time to attend to it properly. The configuration functionality
is implemented in conf.c

Secondly, by d

[2018-07-04 09:34] jjr840430 commented on #353
@ikolomi Thanks for your help!

[2018-07-04 09:35] ikolomi commented on #353
My pleasure, let me know if you need anything

Br

On Wed, 4 Jul 2018 at 11:34 Jin <notifications@github.com> wrote:

[2018-07-10 03:08] jjr840430 opened #354 "Update command line utility to use retrace v2"

[2018-07-12 08:51] ikolomi commented on #344
@jjr840430 I think we can close this issue

[2018-07-12 08:52] ikolomi opened #356 "Add varargs functions support to v2"

[2018-07-12 08:52] ikolomi opened #357 "Add logger configuration support to v2"

[2018-07-12 08:53] ikolomi opened #358 "Port cli functionality from v1 to v2"

[2018-07-12 08:54] ikolomi opened #359 "Add generic fuzzing action based on function prototypes to v2"

[2018-07-12 08:56] ikolomi opened #360 "Add action "JNI bridge" to v2 to allow advanced shimming"

[2018-07-12 08:56] ikolomi commented on #357
@jjr840430  wanna try to do it?

[2018-07-13 15:49] jjr840430 commented on #357
@ikolomi Yes, Let me try this. Thanks!

[2018-07-13 15:50] #344 closed

[2018-08-22 17:04] ikolomi opened #363 "Cant build with --enable-v2=yes"
@jjr840430 @ronaldtse
Guys, your integration of nereon to v2 renders it unbuildable!
First of all, there is nothing in build section of docs regarding installing the nereon lib.
I took me too much time to figure that a. libnereon is needed. b libnereon does not builds since its Cmake-generated make fails on libucl.

Please clean up that mess or at least remove nereon dependency on v2 meanwhile

BR

[2018-08-22 17:37] jjr840430 commented on #363
@ikolomi
Can you try to give the following command to build `libnereon`?

[code]

[2018-08-22 17:39] ikolomi commented on #363
I already did - libnereon pulls libucl, right? So it’s ./configure fails...

On Wed, 22 Aug 2018 at 20:37 Jin <notifications@github.com> wrote:

[2018-08-22 17:41] jjr840430 commented on #363
What system are you working on?
Can you print here error messages while running `configure`?

[2018-08-22 17:45] ronaldtse commented on #363
In this case, @jjr840430 can you help move out libnereon to a separate branch? Since @ikolomi is still working on it. You can continuously merge the v2 changes in to your branch.  Thanks.

@ikolomi are there parts of v2 that can be merged to master? It’s hard to maintain a branch that depends on another branch. Thanks!

[2018-08-22 17:50] jjr840430 commented on #363
@ronaldtse The master branch of `retrace` was passed by Travis CI with `libnereon`.

[2018-08-22 17:52] ikolomi commented on #363
@jjr840430  Its Ubuntu 17.10.
The error log:
ikolomi@ikolomi-VirtualBox:~/Documents/libnereon$ make
Scanning dependencies of target libucl
[  2%] Creating directories for 'libucl'
[  5%] Performing download step (download, verify and extract) for 'libucl'
-- Downloading...
   dst='/home/ikolomi/Documents/libnereon/libucl-prefix/src/0.8.1.tar.gz'
   timeout='none'
-- Using src='https://github.com/v

[2018-08-22 17:54] jjr840430 commented on #363
@ikolomi Did you install `automake` and `libtool` packages on your system?

[2018-08-22 17:54] ronaldtse commented on #363
@jjr840430 in this case can we add Ubuntu to the Travis matrix to ensure it always passes? Thanks!

[2018-08-22 17:57] ikolomi commented on #363
@jjr840430  Of course, these are prereqs for retrace v1

[2018-08-22 17:59] jjr840430 commented on #363
can you try to install `pkg-config` package?

[2018-08-22 18:16] ikolomi commented on #363
@jjr840430  Yes, it solved the issue.
Kindly update the build section do and make libnereon dependent on pkg-config

[2018-08-31 18:48] jjr840430 commented on #363
@ikolomi `-ldl` is in `libretrace_v2_la_LDFLAGS`.
Also, I can run `src/v2/examples/getenv/getenv_exmpl` without any issue.
Can you try with `getenv_exmpl`? Thanks!

[2018-09-22 13:32] ikolomi commented on #363
@jjr840430
I cant fix the linkage issue with dlopen - with your automake commit, on Ubuntu, libretrace_v2.so is not linked with libdl.so , so the dlopen is undefined.
Please fix this, as I spent too much time trying to fix it myself. Otherwise, we will have to revert your automake for v2

[2018-09-22 15:13] ikolomi commented on #356
Done

[2018-09-22 15:13] #356 closed

[2018-09-22 15:39] ikolomi commented on #363
Original working version (created with Makefile_linux) imports the following:
	linux-vdso.so.1 (0x00007ffe3ddc4000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007ff6f60d7000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007ff6f5ce6000)
	/lib64/ld-linux-x86-64.so.2 (0x00007ff6f6583000)
While automake version imports:
	linux-vdso.so.1 (0x00007ffc2b3f4000)
	libpthread.so.0 => /lib/x86

[2018-09-23 06:29] ronaldtse commented on #363
@ikolomi I get the message, @jjr840430 is currently on holiday, he should be able to help once he's back. Thanks!

[2018-09-23 19:16] ikolomi commented on #363
@ronaldtse Thanks a lot, I’ll continue to push to fix it, but there seems to be something fundamentally wrong with how libtool builds it

[2018-10-02 09:35] jjr840430 commented on #363
@ikolomi Can you push your current working branch?
When I'm trying to run the following command, it doesn't have any issue related to `dlopen` function link.

[code]
I'm not sure why stdout doesn't show any tracing info but will try to solve `dlopen` problem at first.
Thanks.

[2018-10-02 19:29] ikolomi commented on #363
@jjr840430 , the issue happens on the master branch.
There was a small issue with undefined symbol retrace_as_init_late in linux compilation , but i just pushed a fix for it.
My research suggests that this is a debian (and its derivatives like Ubuntu). I suggest that you try to build on ubuntu and try getenv_exmpl. You should have either a sigfault or "dlopen is undefined" error

[2018-10-08 16:34] jjr840430 opened #369 "Can't trace on ubuntu system using automake building"
Refer #368

[2018-12-12 15:46] riataman commented on #118
Let's close this for now

[2018-12-12 15:46] #118 closed

[2018-12-12 15:49] riataman commented on #28
I think what we have now is good enought

[2018-12-12 15:49] #28 closed

[2018-12-12 15:55] riataman opened #381 "Document retrace v2"
There doesn't seem to be any documentation on v2

[2018-12-12 16:08] riataman opened #382 "Deadlock when testing the time example"
Run the time example in test/time with retrace v2, it hangs in there forever

:~/retrace/src/v2$ LD_PRELOAD=.libs/libretrace_v2.so ../../test/time

[2018-12-12 16:09] riataman commented on #382
this is the stack trace:

#0  __lll_lock_wait_private () at ../sysdeps/unix/sysv/linux/x86_64/lowlevellock.S:95
#1  0x00007ffff741bb54 in __tz_convert (timer=0x7ffff770dac0 <tzset_lock>, use_localtime=use_localtime@entry=1,
    tp=tp@entry=0x7fffffffe150) at tzset.c:616
#2  0x00007ffff741a00d in __localtime_r (t=<optimized out>, tp=tp@entry=0x7fffffffe150) at localtime.c:30
#3  0x00007ffff7419fa0

[2018-12-12 16:22] riataman commented on #382
The problem is when the invoked program calls ctime_r, retracev2 itself calls ctime_r, but ctime_r can not be called in a loop as it holds a lock.

[2018-12-12 16:33] riataman opened #384 "Retrace v2 segfaults in macOS"
Retrace v2 doesn't seem to work at all on macOS, crashes on the simplest program

[2018-12-12 17:21] riataman commented on #384
This all comes down to failure to initialize because

retrace_as_get_real_safe("time");
retrace_as_get_real_safe("localtime_r");

Both return NULL.

I'm using xcode 10.1, which comes with:

$ clang -v
Apple LLVM version 10.0.0 (clang-1000.11.45.5)
Target: x86_64-apple-darwin17.7.0

I don't understand why yet.

This simple program

#include <stdio.h>
#include <time.h>
#include <dlfcn.h>

int main(v

[2018-12-14 16:55] riataman commented on #363
retrace v2 is crashing in ubuntu with any program when build without --enable-debug, if I build with --enable-debug then it works (which makes this hard to debug ...)

[2018-12-16 00:16] riataman commented on #363
I put in a fix that basically always build with -O0 since I couldn't exactly figure out why this was crashing.

https://github.com/riboseinc/retrace/pull/386

[2018-12-27 16:55] riataman commented on #384
Fixed by #387, but there are still some issues remaining in macOS

[2018-12-27 17:12] #384 closed

[2018-12-27 17:12] riataman opened #388 "putenv() crashes macOS"
If the traced program calls putenv(char *) under retrace it crashes with this stack:

* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)
  * frame #0: 0x00007fff6a5415e2 libsystem_platform.dylib`_os_unfair_lock_recursive_abort + 23
    frame #1: 0x00007fff6a541710 libsystem_platform.dylib`_os_unfair_lock_lock_slow + 226
    frame #2:

[2018-12-27 17:15] riataman commented on #388
openlog() is hanging:

* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
  * frame #0: 0x00007fff6a380a46 libsystem_kernel.dylib`__psynch_mutexwait + 10
    frame #1: 0x00007fff6a548b9d libsystem_pthread.dylib`_pthread_mutex_lock_wait + 83
    frame #2: 0x00007fff6a5464c8 libsystem_pthread.dylib`_pthread_mutex_lock_slow + 253
    frame #3: 0x00007fff6a53932b libsystem_noti

[2018-12-27 17:53] riataman commented on #388
Fixed by #389. I had to remove a bit of funcionality (report time as a timestamp rathern than a local time string) as the convertion to localtime in macOS creates all sort of problems. Now all tests seem to be passing in v2 for macOS.

[2018-12-27 17:53] #388 closed

[2018-12-27 22:11] riataman commented on #381
Fixed #390

[2018-12-27 22:11] #381 closed

[2018-12-28 16:05] riataman opened #391 "printf prints the wrong number for floats"
This program:

[code]
will print "1 1" when run on its own, but when run under retrace v2 would print "0 1"

[2018-12-29 00:50] ronaldtse commented on #391
@riataman good find -- can we add a test for this?

[2018-12-29 01:50] riataman commented on #391
I need to revamp the tests, I don't think we are running any tests for v2 right now.

[2018-12-29 01:52] riataman opened #393 "Run tests in travis for v2"
We aren't running any tests for v2 in travis.

[2018-12-29 01:54] riataman commented on #338
retrace v2 already has json config, closing this.

[2018-12-29 01:54] #338 closed

[2019-01-08 07:42] kwkwan opened #395 "Add FreeBSD build for Cirrus"
Previously we had a Jenkins job to run FreeBSD builds but we need to migrate to Cirrus. The Jenkins is being decommissioned.

https://cirrus-ci.org/guide/FreeBSD/

Here's the original script:

(Master branch)

[code]

(Pull request)

[code]

[2019-01-08 07:46] kwkwan opened #396 "Add macOS build for travis"
Previously we had a Jenkins job to run macOS builds but we need to migrate to Travis. The Jenkins is being decommissioned.

Here's the original script:

(Master)

[code]

(Pull request)

[code]

[2019-01-08 07:49] kwkwan opened #397 "Add OpenBSD build for some CI"
Previously we had a Jenkins job to run OpenBSD builds but we need to migrate to some other provider (there doesn't seem to be a free CI service that supports OpenBSD). The Jenkins is being decommissioned.

Here's the original script:

(Master)

[code]

(Pull request)

[code]

[2019-01-10 01:30] riataman commented on #363
This seems to be working now, please reopen if it still failing.

[2019-01-10 01:30] #363 closed

[2019-01-10 01:31] riataman commented on #218
I think this is done for v2

[2019-01-10 01:31] #218 closed

[2019-01-20 15:31] riataman opened #400 "sbrk test is failing with v2"
Run LD_PRELOAD=.libs/libretrace_v2.so  ../../test/sbrk

This will crash.

[2019-01-20 20:14] riataman commented on #354
There's already a v2 command line utility

[2019-01-20 20:14] #354 closed

[2019-01-20 20:15] riataman commented on #334
closed per above comment

[2019-01-20 20:15] #334 closed

[2019-01-20 20:15] riataman commented on #393
Fixed by https://github.com/riboseinc/retrace/pull/401

[2019-01-20 20:15] #393 closed

[2019-01-24 23:35] riataman commented on #400
To be honest this test might be a given misguided and pretty much impossible to get right.

[2019-01-24 23:59] riataman opened #404 "Running ps under retrace will crash"
Debian 9 x86.  Running `ps` under retrace v2 will run into this:

LD_PRELOAD=.libs/libretrace_v2.so ps
Signal 11 (SEGV) caught by ps (3.3.12).
ps:ps/display.c:66: please report this bug
Segmentation fault

[2019-01-26 02:17] riataman commented on #404
fixed by https://github.com/riboseinc/retrace/pull/405

[2019-01-26 02:17] #404 closed

[2019-01-26 17:49] riataman opened #406 "popen example crashign in FreeBSD"
the popen tests is crashing in FreeBSD. I tested this in FreeBSD 11.2-RELEASE #0 r335510 using this:

LD_PRELOAD=.libs/libretrace_v2.so ../../test/popen

[code]

[2019-01-26 18:07] riataman commented on #382
I think this one got fixed by another fix, not happening anymore. closing.

[2019-01-26 18:07] #382 closed

[2019-01-26 18:09] riataman commented on #406
we aren't intercepting popen, so it's something else we do.

[2019-01-29 02:06] riataman opened #409 "Finish adding all functions that where in v1 to v2"
All of the mktemp family of functions, syslog, readdir, mmap, ptrace, etc.

[2019-01-29 02:35] riataman commented on #406
This was actually closed by https://github.com/riboseinc/retrace/pull/408

[2019-02-03 02:13] #406 closed

[2019-02-04 09:05] ronaldtse commented on #397
@riataman I think Cirrus CI is already enabled for all our repos. Can you try adding the file here? Thanks!

[2019-02-04 23:27] riataman opened #412 "FreeBSD 12 build fails"
Builds in FreeBSD 12-RELEASE is failing with a bunch of errors like this:

/usr/bin/ld: error: can't create dynamic relocation R_X86_64_64 against symbol:                                                                                              retrace_engine_wrapper in readonly segment; recompile object files with -fPIC

Note that we are building using -fPIC so this need a bit of investigation

[2019-02-05 00:05] riataman commented on #412
fixed by https://github.com/riboseinc/retrace/pull/413

[2019-02-05 00:31] ronaldtse commented on #397
This is excellent already. The rest will just take some time. Thank you @riataman !

[2019-02-05 00:39] #412 closed

[2019-02-17 07:03] ronaldtse commented on #409
@riataman what's the status of v2 right now?

1. What are the remaining functions in V2 that need to be done?
2. What other things do we need to release V2?

Thanks!

[2019-02-24 23:05] riataman commented on #409
Hey @ronaldtse, I don't have the full list, but there still are a bit more that were in v1 and are not in v2, I don't think any of those are that critical tought.

2. v2 is already a better development platform than v1, but a few of the features like string fuzzing have not been ported to v2, but to be honest we could release v2 without them.

[2020-01-15 07:19] ligurio commented on #397
OpenBSD Support #311
https://github.com/cirruslabs/cirrus-ci-docs/issues/311

[2020-01-15 08:09] ronaldtse commented on #397
Thanks @ligurio for letting us know! We'll do this.

[2020-01-15 14:54] ronaldtse commented on #397
Actually, OpenBSD is not supported yet at Cirrus, so this ticket is still unactionable.

[2021-04-06 11:07] catap opened #416 "Can't configure it on macOS 11.2.3"
I'm using 70800979fb7fa622fd2c03788b3e06058364ad24 as local root.

`./autogen.sh` works fine bug `./configure` had quite a wired output:
[code]

It has exit code `1` and hadn't created any `Makefile`.

[2021-12-10 03:05] ronaldtse opened #417 "Migrate to GitHub Actions"
Linux, macOS and Windows.

[2021-12-29 03:44] ronaldtse opened #419 "Change default branch to main from master"

[2021-12-29 05:28] #417 closed

[2021-12-29 05:30] ribose-jeffreylau commented on #416
Fixed with https://github.com/riboseinc/retrace/commit/b55e7c2f44b0c2237e2a4450d54d96fe92129dff.

[2021-12-29 05:30] #416 closed

[2021-12-29 05:31] ribose-jeffreylau commented on #419
Seems done.

[2021-12-29 05:31] #419 closed

[2021-12-29 05:49] ribose-jeffreylau opened #420 "Fix `gettimeofday` type conflicts (Ubuntu 20.04, nix on Linux)"
https://github.com/riboseinc/retrace/runs/4656054633?check_suite_focus=true#step:6:405

[code]

[2021-12-29 05:53] ribose-jeffreylau opened #421 "Fix libnereon build on msys2"
https://github.com/riboseinc/retrace/runs/4656054619?check_suite_focus=true#step:5:384

`Makefile` has not been generated at all.

[code]

[2021-12-29 05:55] ribose-jeffreylau opened #422 "Fix checkpatch issues"
https://github.com/riboseinc/retrace/runs/4656054617?check_suite_focus=true#step:5:536

[code]

[2021-12-29 06:10] ribose-jeffreylau opened #423 "Resume coverity scan"
Currently, GitHub Action workflows do not have coverity scan set up.

[2021-12-29 06:35] #423 closed

[2022-01-11 21:33] maxirmx commented on #421
You install ninja so cmake uses ninja generator by default.  There is build.ninha file  that is essentially a makefile.
If you call cmake --build .   it will select correct build system that matches configure step

You can also do cmake .. -G "Unix Makefiles" in order to get Makefile and not build.ninja

[2022-01-11 21:36] maxirmx commented on #421
There is a problem is here: https://github.com/riboseinc/libnereon/blob/master/src/CMakeLists.txt
I
LIBNEREON_LIBRARY is not defined as CMake target at all.  Unix and MacOS versions of cmake somehow manage to create correct build sequence, but MSYS  version fails.  So the fix is required at libneron source.

[2022-01-11 21:43] maxirmx commented on #421
Then there is an issue with  RTLD_NEXT  flag  which is a bedrock of retrace technology.   It is not POSIX and MSYS compilation with default settings considers it undefined

Probably
[code]
can help but it needs to be tested as well

[2022-01-12 02:59] #420 closed

[2022-01-13 12:33] maxirmx commented on #421
If msys (=unix) environment is used for compilation it is essentially cygwin that does not support GNU extensions to dlsysm
So hooking with RTLD_NEXT does not compile and I did not find any port or extension

If mingw (=windows) environment is used for compilation, there is a package that pretends that it implements RTLD_NEXT -- https://packages.msys2.org/base/mingw-w64-dlfcn.
However, mingw lacks

[2022-01-14 03:48] ribose-jeffreylau commented on #421
Sounds like we can probably create a separate GitHub Action workflow for mingw to test this out, too.

[2022-01-14 21:07] maxirmx commented on #421
I do not know, can make assumptions only.
Now windows build looks like full scale project that requires some upfront experiments and research

[2022-01-18 21:25] maxirmx commented on #421
Libnereaon build fixed is here:
https://github.com/riboseinc/retrace/pull/427

[2022-01-18 21:31] maxirmx commented on #421
I made some tests locally. Mingw build fails fast because Windows SDK doeds not have Queue.h
I can make a workflow out of it but I do not see any value.

[2022-01-19 01:58] ribose-jeffreylau commented on #421
Thanks @maxirmx !  This is good progress.  I'll merge whatever we have now and figure the rest later.

[2022-01-19 14:37] ribose-jeffreylau opened #428 "Support `aarch64` architecture in v2"
# Description

The `aarch64` architecture (e.g., in Apple M1 machines) should be supported in `v2`.

# Steps

[code]

# Expected result

It builds without errors in Apple M1 machines.

# Actual result

It builds with errors in Apple M1 machines.

Sample trace:

[code]

[2022-01-19 15:04] ribose-jeffreylau opened #429 "Update `Developers Guide.md`"
It still features things like Travis CI, and should be in asciidoc.